USE [Lawson]
GO
/****** Object:  StoredProcedure [APS].[TEST_SECURITY]    Script Date: 10/19/2016 2:07:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [APS].[TEST_SECURITY] AS


TRUNCATE TABLE DBO.TEST_SECURITY

INSERT INTO DBO.TEST_SECURITY

SELECT
	[FULL-NAME]
	,[EMAIL-ADDRESS]
	,[POSITION DESCRIPTION]
	,EMPLOYEE
	,LOCATION
	,[STC QUIZ]
	,[TA QUIZ]
	,[STAFF QUIZ]
	,ORGANIZATION_GU
FROM
(
SELECT
	[FULL-NAME]
	,[EMAIL-ADDRESS]
	,POSITIONDESCRIPTION AS 'POSITION DESCRIPTION'
	,EMPLOYEE
	,LOCATION
	,ORGANIZATION_GU
	,'' AS 'STC QUIZ'
	,'' AS 'TA QUIZ'
	,CASE WHEN [BASIC].[Test Administration Security Quiz] IS NULL THEN '' ELSE [BASIC].[Test Administration Security Quiz]
	END AS 'STAFF QUIZ'
	
FROM
(
SELECT
	ROW_NUMBER () OVER (PARTITION BY EMP.EMPLOYEE, PC.DESCRIPTION ORDER BY emp.DATE_HIRED DESC) AS RN
	,EMP.EMPLOYEE
	,LTRIM(RTRIM(EMP.LAST_NAME)) + ', '+EMP.FIRST_NAME AS 'FULL-NAME'
	,RA.EMAIL_ADDRESS AS 'EMAIL-ADDRESS'
	,PAP.DESCRIPTION AS 'POSITIONDESCRIPTION'
	,PC.DESCRIPTION AS 'USER-LEVELDESCRIPTION'
	,emp.TERM_DATE
	,emp.DATE_HIRED
	,EMP.EMP_STATUS
	,RA.LOCATION
	,SCH.ORGANIZATION_GU
FROM
	Employee AS EMP
	INNER JOIN
	Paposition AS PAP
	ON EMP.POSITION = PAP.POSITION
	JOIN
	Pcodes AS PC
	ON EMP.USER_LEVEL = PC.CODE
	AND R_TYPE = 'UL'
	JOIN
	APS.ActiveEmployeeMostRecentAssignment AS RA
	ON RA.EMPLOYEE = EMP.EMPLOYEE
	JOIN
	[SYNERGYDBDC.APS.EDU.ACTD].ST_PRODUCTION.REV.EPC_SCH AS SCH
	ON SCH.SIS_SCHOOL_CODE = RA.LOCATION
WHERE 
	EMP.TERM_DATE IS NULL
) AS T1
		RIGHT JOIN
		OPENROWSET (
			'Microsoft.ACE.OLEDB.12.0', 
			'Text;Database=\\180-SMAXODS-01\E\SQLWorkingFiles\;', 
			'SELECT * FROM gc_044_Test_Secuirty_Basic.csv'  
		)AS [BASIC]
		ON [BASIC].[STUDENT ID] = t1.EMPLOYEE
WHERE 1 = 1
AND RN = 1
--AND [BASIC].[Test Administration/Security Quiz] IS NOT NULL

UNION

SELECT
	[FULL-NAME]
	,[EMAIL-ADDRESS]
	,POSITIONDESCRIPTION AS 'POSITIOIN DESCRIPTION'
	,EMPLOYEE
	,LOCATION
	,ORGANIZATION_GU
	,CASE WHEN [STC].[STC Test Security Quiz] IS NULL THEN '' ELSE [STC].[STC Test Security Quiz]
	END AS 'STC QUIZ'
	,'' AS 'TA QUIZ'
	,'' AS 'STAFF QUIZ'
FROM
(

SELECT
	ROW_NUMBER () OVER (PARTITION BY EMP.EMPLOYEE, PC.DESCRIPTION ORDER BY emp.DATE_HIRED DESC) AS RN
	,EMP.EMPLOYEE
	,LTRIM(RTRIM(EMP.LAST_NAME)) + ', '+EMP.FIRST_NAME AS 'FULL-NAME'
	,RA.EMAIL_ADDRESS AS 'EMAIL-ADDRESS'
	,PAP.DESCRIPTION AS 'POSITIONDESCRIPTION'
	,PC.DESCRIPTION AS 'USER-LEVELDESCRIPTION'
	,RA.LOCATION
	,SCH.ORGANIZATION_GU
FROM
	Employee AS EMP
	INNER JOIN
	Paposition AS PAP
	ON EMP.POSITION = PAP.POSITION
	JOIN
	Pcodes AS PC
	ON EMP.USER_LEVEL = PC.CODE
	AND R_TYPE = 'UL'
	JOIN
	APS.ActiveEmployeeMostRecentAssignment AS RA
	ON RA.EMPLOYEE = EMP.EMPLOYEE
	JOIN
	[SYNERGYDBDC.APS.EDU.ACTD].ST_PRODUCTION.REV.EPC_SCH AS SCH
	ON SCH.SIS_SCHOOL_CODE = RA.LOCATION
WHERE 
	EMP.TERM_DATE IS NULL
) AS T1
		RIGHT JOIN
		OPENROWSET (
			'Microsoft.ACE.OLEDB.12.0', 
			'Text;Database=\\180-SMAXODS-01\E\SQLWorkingFiles\;', 
			'SELECT * FROM gc_044_Test_Secuirty_School_Test_Admin.csv'  
		)AS [STC]
		ON [STC].[STUDENT ID] = t1.EMPLOYEE
WHERE 1 = 1
AND RN = 1

UNION

SELECT
	[FULL-NAME]
	,[EMAIL-ADDRESS]
	,POSITIONDESCRIPTION AS 'POSITION DESCRIPTION'
	,EMPLOYEE
	,LOCATION
	,ORGANIZATION_GU
	,'' AS 'STC QUIZ'
	,CASE WHEN TA.[Test Security Certification] IS NULL THEN '' ELSE TA.[Test Security Certification]
	END AS 'TA QUIZ'
	,'' AS 'STAFF QUIZ'
FROM
(

SELECT
	ROW_NUMBER () OVER (PARTITION BY EMP.EMPLOYEE, PC.DESCRIPTION ORDER BY emp.DATE_HIRED DESC) AS RN
	,EMP.EMPLOYEE
	,LTRIM(RTRIM(EMP.LAST_NAME)) + ', '+EMP.FIRST_NAME AS 'FULL-NAME'
	,RA.EMAIL_ADDRESS AS 'EMAIL-ADDRESS'
	,PAP.DESCRIPTION AS 'POSITIONDESCRIPTION'
	,PC.DESCRIPTION AS 'USER-LEVELDESCRIPTION'
	,RA.LOCATION
	,SCH.ORGANIZATION_GU
FROM
	Employee AS EMP
	INNER JOIN
	Paposition AS PAP
	ON EMP.POSITION = PAP.POSITION
	JOIN
	Pcodes AS PC
	ON EMP.USER_LEVEL = PC.CODE
	AND R_TYPE = 'UL'
	JOIN
	APS.ActiveEmployeeMostRecentAssignment AS RA
	ON RA.EMPLOYEE = EMP.EMPLOYEE
	JOIN
	[SYNERGYDBDC.APS.EDU.ACTD].ST_PRODUCTION.REV.EPC_SCH AS SCH
	ON SCH.SIS_SCHOOL_CODE = RA.LOCATION

WHERE 
	EMP.TERM_DATE IS NULL
) AS T1
		RIGHT JOIN
		OPENROWSET (
			'Microsoft.ACE.OLEDB.12.0', 
			'Text;Database=\\180-SMAXODS-01\E\SQLWorkingFiles\;', 
			'SELECT * FROM gc_044_Test_Security_Test_Admin.csv'  
		)AS TA
		ON TA.[STUDENT ID] = t1.EMPLOYEE
WHERE 1 = 1
AND RN = 1
) AS TEST_SECURITY



