
--14-15
/*

DROP TABLE dbo.ATTENDANCE_2014
CREATE TABLE dbo.ATTENDANCE_2014

( 
	SCHOOL_YEAR VARCHAR (4)
	,[TOTAL_ABSENCES_DAYS]  VARCHAR (9)
      ,[IDNBR]  VARCHAR (9)
      ,[SCHNBR]  VARCHAR (4)
      ,[MEMBERDAYS]  VARCHAR (4)
      ,[GRADE]  VARCHAR (2)

) 

INSERT INTO dbo.ATTENDANCE_2014
*/

SELECT 
'2014' AS SCHOOL_YEAR
,CASE WHEN Total_Exc_Unex IS NULL THEN '0.00' ELSE Total_Exc_Unex END AS TOTAL_ABSENCES_DAYS
,STUID AS IDNBR
,SCHOOL_CODE AS SCHNBR
,MEMBER_DAYS AS MEMBERDAYS
,GRADE
 
FROM (

SELECT 

AT14.Total_Exc_Unex
, MEM14.STUID
, MEM14.SCHOOL_CODE
, MEM14.MEMBER_DAYS
, ENR14.GRADE
  
  
  FROM [STUDENT_ATTENDANCE_2014] AS AT14
  RIGHT JOIN 
   STUDENT_SCHOOL_MEMBERDAYS_2014 AS MEM14
  ON
  AT14.[SIS Number] = MEM14.STUID
  AND AT14.[School Code] = MEM14.SCHOOL_CODE

  LEFT JOIN 
  (SELECT GRADE,SIS_NUMBER FROM 
APS.LatestPrimaryEnrollmentInYear('26F066A3-ABFC-4EDB-B397-43412EDABC8B')
) AS ENR14
ON
ENR14.SIS_NUMBER = MEM14.STUID

--WHERE
--	(MEM14.SCHOOL_CODE BETWEEN '399' AND '600' 
--	 OR MEM14.SCHOOL_CODE IN( '840', '900'))

) AS T1
  ORDER BY SCHNBR, IDNBR

  ----------------------------------------------------------------------------------------
  /*

DROP TABLE dbo.ATTENDANCE_2014
CREATE TABLE dbo.ATTENDANCE_2015

( 
	SCHOOL_YEAR VARCHAR (4)
	,[TOTAL_ABSENCES_DAYS]  VARCHAR (9)
      ,[IDNBR]  VARCHAR (9)
      ,[SCHNBR]  VARCHAR (4)
      ,[MEMBERDAYS]  VARCHAR (4)
      ,[GRADE]  VARCHAR (2)

) 
*/
INSERT INTO dbo.ATTENDANCE_2015

--15-16
  SELECT 
  '2015' AS SCHOOL_YEAR
,CASE WHEN Total_Exc_Unex IS NULL THEN '0.00' ELSE Total_Exc_Unex END AS TOTAL_ABSENCES_DAYS
,STUID AS IDNBR
,SCHOOL_CODE AS SCHNBR
,MEMBER_DAYS AS MEMBERDAYS
,GRADE
 
FROM (

SELECT 

AT15.Total_Exc_Unex
, MEM15.STUID
, MEM15.SCHOOL_CODE
, MEM15.MEMBER_DAYS
, ENR15.GRADE
  
  
  FROM [STUDENT_ATTENDANCE_2015] AS AT15
  RIGHT JOIN 
   STUDENT_SCHOOL_MEMBERDAYS_2015 AS MEM15
  ON
  AT15.[SIS Number] = MEM15.STUID
  AND AT15.[School Code] = MEM15.SCHOOL_CODE

  LEFT JOIN 
  (SELECT GRADE,SIS_NUMBER FROM 
APS.LatestPrimaryEnrollmentInYear('BCFE2270-A461-4260-BA2B-0087CB8EC26A')
) AS ENR15
ON
ENR15.SIS_NUMBER = MEM15.STUID

--WHERE
--	(MEM15.SCHOOL_CODE BETWEEN '399' AND '600' 
--	 OR MEM15.SCHOOL_CODE IN( '840', '900'))

) AS T1
  ORDER BY SCHNBR, IDNBR