
/*
*	Created By:  Debbie Ann Chavez
*	Date:  7/10/2014
*
*Find a phone number in the system, parent, staff, or student.
*/


SELECT 
		[PHONE]
      ,[PHONE_EXTENSION]
      ,[PHONE_TYPE]
      ,[PHONE_LISTED]
      ,[CONTACT_PHONE]
      ,PHONES.[PRIMARY_PHONE]

	  ,PARENT.ADULT_ID AS PARENT_ADULT_ID
	  ,STUDENT.SIS_NUMBER
	  ,STAFF.BADGE_NUM

  FROM 
  [ST_Production].[rev].[REV_PERSON_PHONE] AS PHONES
  
  	INNER JOIN
	rev.REV_PERSON AS PERSON
	ON
	PERSON.PERSON_GU = PHONES.PERSON_GU

LEFT JOIN
	rev.EPC_PARENT AS PARENT
	ON
	PARENT.PARENT_GU = PHONES.PERSON_GU

LEFT JOIN
rev.EPC_STU AS STUDENT
ON
STUDENT.STUDENT_GU = PERSON.PERSON_GU

LEFT JOIN
rev.EPC_STAFF AS STAFF
ON
STAFF.STAFF_GU = PERSON.PERSON_GU

--ENTER PHONE NUMBER INSIDE OF PARENS
WHERE 
	PHONE LIKE '%5062727%'