/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  
      [ID Number] AS APS_ID
	  ,STUD.[STUDENT ID] AS STATE_ID
      ,[Test ID]
      ,[Subtest] AS SUBTEST
      ,[School Year] AS SCH_YR
      ,[test Date] AS TEST_DATE
      ,[School] AS SCH
      ,EOC.[Grade] AS GRADE
      ,EOC.[DOB] AS DOB
      ,EOC.[last_name] AS LAST_NAME
      ,EOC.[first_name] AS FIRST_NAME
      ,[Score1] AS EOC_RAW_SCORE
      ,[Score2] AS EOC_PERFORMANCE_LEVEL
	  ,ACT.MATH AS ACT_MATH
	  ,ACT.SCH_YR AS ACT_YR_TAKEN
	  ,SAT.Math AS SAT_MATH
	  ,SAT.SCH_YR AS SAT_YR_TAKEN
	  ,STUD.[ETHNIC CODE SHORT] AS ETHNICITY
	  ,STUD.[ECONOMIC STATUS /FOOD PGM PARTICIPATION/] AS FRL
	  ,STUD.[SPECIAL EDUCATION] AS SPED
	  ,STUD.[GIFTED] AS GIFTED
	  ,STUD.[LEP/ELL ELIGIBILITY] AS ELL
	  ,STUD.[HISPANIC INDICATOR] AS HISPANIC_INDICATOR
	  ,MC.CRS_DESCR
	  ,MC.Tchr_NME
	  ,MC.GRADE


FROM [180-SMAXODS-01].[SchoolNet].[dbo].[EOC_] AS EOC
	LEFT JOIN
		(SELECT
			*
		FROM
			(
			SELECT
				*
				,ROW_NUMBER () OVER (PARTITION BY APS_ID ORDER BY CAST(MATH AS INT) DESC) AS RoN
			FROM [180-SMAXODS-01].SCHOOLNET.DBO.CCR_ACT
			WHERE MATH != '--'
			) CCR
		WHERE RoN = 1
		) ACT
	ON EOC.[ID Number] = ACT.APS_ID
	LEFT JOIN
		(SELECT
			*
		FROM
			(
			SELECT
				*
				,ROW_NUMBER () OVER (PARTITION BY APS_ID ORDER BY MATH) AS R0N
			FROM [180-SMAXODS-01].SCHOOLNET.DBO.CCR_SAT
			WHERE MATH != '--'
			) CCRS
		WHERE R0N = 1
		) SAT
	ON EOC.[ID Number] = SAT.APS_ID
	LEFT JOIN
	[046-WS02].DB_STARS_HISTORY.DBO.STUDENT AS STUD
	ON EOC.[ID Number] = STUD.[ALTERNATE STUDENT ID]
	AND STUD.SY = '2014' AND STUD.PERIOD = '2014-06-01'

	LEFT JOIN
	mathcourses AS MC
	ON MC.ID_NBR = EOC.[ID Number]
	AND (CRS_DESCR = 'ALGEBRA II' OR CRS_DESCR LIKE 'ALGEBRA II %' OR CRS_DESCR LIKE '% ALG II%')

	
  WHERE EOC.Subtest LIKE 'ALGEBRA II%'
        AND STUD.[STUDENT ID] IS NOT NULL
  ORDER BY STATE_ID
