/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [SY]
      ,[SCHOOL]
      ,[ID_NBR]
      ,[LAST NAME LONG]
      ,[FIRST NAME LONG]
      ,[HISPANIC INDICATOR]
      ,[ETHNIC CODE SHORT]
      ,[GENDER CODE]
      ,[GRADE]
      ,[PHLOTE]
      ,[ENGLISH PROFICIENCY]
      ,[SBA_READ_PL]
      ,[SBA_READ_SS]
      ,[SBA_MATH_PL]
      ,[SBA_MATH_SS]
      ,[SPRING_KDPR_ELA]
      ,[SPRING_KDPR_MATH]
      ,[SPRING_DRA_PL]
      ,LTRIM ([SPRING_DBA_ELA])AS [SPRING_DBA_ELA]
      ,LTRIM ([SPRING_DBA_ELA_PL]) AS [SPRING_DBA_ELA_PL]
      ,LTRIM ([SPRING_DBA_MATH]) AS [SPRING_DBA_MATH]
      ,LTRIM ([SPRING_DBA_MATH_PL]) AS [SPRING_DBA_MATH_PL]
  FROM [db_Logon].[dbo].[2009]