

SELECT
STUD_ID
,MATE
,REAE
,SCIE
FROM
(
SELECT
ID_NBR
,TEST_SUB
,ID_NBR AS STUD_ID
FROM
 [Exit_Exam].[dbo].[SBA_Counts_04142014]
)AS T1 

PIVOT
(
COUNT(ID_NBR) FOR TEST_SUB IN ([MATE], [REAE], [SCIE])) AS HOPE

