/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	ENRL.NONADA_SCH
	,ENRL.FULL_NME
	,ENRL.END_ENR_DT
	,ENRL.END_STAT
	,ENRL.ID_NBR
	,ENRL.SCH_NBR
	,ENRL.BEG_ENR_DT
	,ENRL.GRDE
	,ENRL.SCH_YR

	,SCHOOL.SCH_NME_27

	,CODES.STAT_DESCR
	,CODES.END_CAT

	,FAMILY.GSTD_YR

	,CASE	
		WHEN CODES.END_CAT != 'G'
		THEN
			TRANSFERV.TO_STATE
	END AS TO_STATE


  FROM [PR].[DBTSIS].[ST010] AS ENRL

  LEFT JOIN
	PR.DBTSIS.SY010_V AS SCHOOL
	ON ENRL.SCH_NBR = SCHOOL.SCH_NBR
	AND ENRL.DST_NBR = SCHOOL.DST_NBR

  LEFT JOIN
	PR.DBTSIS.ST080_V AS CODES
	ON ENRL.END_STAT= CODES.END_STAT

 LEFT JOIN
	PR.DBTSIS.CE020_V AS FAMILY
	ON ENRL.ID_NBR = FAMILY.ID_NBR
	AND ENRL.DST_NBR = FAMILY.DST_NBR
 
 LEFT JOIN
	PR.DBTSIS.ST016_V AS TRANSFERV
	ON ENRL.ID_NBR = TRANSFERV.ID_NBR
	AND ENRL.BEG_ENR_DT = TRANSFERV.BEG_ENR_DT
	AND ENRL.DST_NBR  = TRANSFERV.DST_NBR

 LEFT JOIN
	PR.DBTSIS.TN010_V AS TRANSCRIPT
	ON ENRL.ID_NBR = TRANSCRIPT.ID_NBR
	AND ENRL.DST_NBR = TRANSCRIPT.DST_NBR

WHERE 
	ENRL.DST_NBR = '1'
	AND (ENRL.SCH_YR = '2013'
	OR ENRL.SCH_YR = '2014')
	AND ENRL.ID_NBR = '102739554'
	AND ENRL.GRDE IN ('07','08','09','10','11','12')
