USE [Assessments]
GO
--/****** Object:  StoredProcedure [dbo].EXECUTE [EXIT_EXAM_STATUS_SBA_AND_EOC_COUNTS_PARCC_sp]    Script Date: 10/26/2015 9:23:10 AM ******/
SET ANSI_NULLS ON
GO
--SET QUOTED_IDENTIFIER ON
--GO

--ALTER Procedure [dbo].[EXIT_EXAM_STATUS_SBA_AND_EOC_COUNTS_PARCC_sp] AS
/****
 
 * $LastChangedBy: Frank Garcia
 * $LastChangedDate: 05/15/2015 $
 *
 * Request By: APS
 * InitialRequestDate: 
 * 
 * Initial Request:
 * EES
--****/
--TRUNCATE TABLE [EXIT EXAM STATUS]

--INSERT INTO [EXIT EXAM STATUS]

SELECT 
	   [ID_NBR]
      ,[LAST_NAME]
      ,[FIRST_NAME]
      ,[M_NAME]
      ,[SCHOOL]
      ,[GRADE]
      ,[Reading SBA]
      ,[PASS FAIL_READING]
      ,[Math SBA]
      ,[PASS FAIL_MATH]
      ,[Combo MR SBA]
      ,[PASS FAIL_RM]
      ,[Science SBA]
      ,[PASS FAIL_SCIENCE]
      ,[SCI_FD]
      ,[PASSED ALL REQUIRED TESTS]
      ,[Take_SBA]
      ,[Take_EOC]
      ,[MATH SBA ATTEMPTS]
      ,[READING SBA ATTEMPTS]
      ,[SCIENCE SBA ATTEMPTS]
      ,[EOC_SOCIAL_STUDIES_ATTEMPTS]
      ,[EOC_WRITING_ATTEMPTS]
      ,[PARCC ELA 11 ATTEMPTS]
      ,[PARCC ALGEBRA 2 ATTEMPTS]
      ,[PARC GEOMETRY ATTEMPTS]
	  ,[READING REQUIREMENT]  
	  ,[WRITING REQUIREMENT] 
	  ,[MATH REQUIREMENTS]
	  ,[SCIENCE REQUIREMENTS] 
	  ,[SS REQUIREMENTS]
--  ,SS
--  ,MATH_TOTALS
--  ,[Algebra 2]
--  ,Geometry
--  ,MAT
--  ,SCI
--  ,SCIE
--  ,PARCC_ALG_II
--  ,PARCC_GEOM
--  ,RE_FC
--  ,SC_FC
--  ,WR_FC
--  ,REAE
--  ,WRI
--  ,WR_PARCC_WRI
--,[English Language Arts 11th Grade]
--,PARCC_ELA_11_READ
--,PARCC_ELA_11_WRIT
 FROM
(
SELECT
   [ID_NBR]
  ,[LAST_NAME]
  ,[FIRST_NAME]
  ,[M_NAME]
  ,[SCHOOL]
  ,[CURRENT GRADE] AS GRADE
  ,[READING] AS 'Reading SBA'
  ,CASE WHEN [PASS FAIL_READING] IS NULL OR [PASS FAIL_READING] = '' THEN 'NYT' ELSE [PASS FAIL_READING] END AS [PASS FAIL_READING]
  ,[MATH] AS 'Math SBA'
  ,CASE WHEN [PASS FAIL_MATH] IS NULL OR [PASS FAIL_MATH] = '' THEN 'NYT' ELSE [PASS FAIL_MATH] END AS [PASS FAIL_MATH]
  ,[TOTAL SCORE READING MATH] AS 'Combo MR SBA'
  ,CASE WHEN [PASS FAIL_RM] IS NULL OR [PASS FAIL_RM] = '' THEN 'NYT' ELSE [PASS FAIL_RM] END AS [PASS FAIL_RM]
  ,[SCIENCE] AS 'Science SBA'
  ,CASE WHEN [PASS FAIL_SCIENCE] IS NULL OR [PASS FAIL_SCIENCE] = '' THEN 'NYT' ELSE [PASS FAIL_SCIENCE] END AS [PASS FAIL_SCIENCE]
  ,CASE WHEN [PASS FAIL_SCIENCE] = 'PASS' THEN 'PASS'
	WHEN [PASS FAIL_SCIENCE] != 'PASS' AND SC_FC != '00000000000' AND [SCIE] > '1' THEN 'PASS'
	WHEN [PASS FAIL_SCIENCE] != 'PASS' AND SC_FC != '00000000000' AND [SCIE] < 2 THEN 'SCIENCE SBA ATTEMPTS NOT EXHAUSTED' 
	WHEN [PASS FAIL_SCIENCE] = 'PASS' AND SC_FC != '00000000000' AND [SCIE] < 2 THEN 'SCIENCE SBA ATTEMPTS NOT EXHAUSTED' 
	WHEN [SCIE] IS NULL THEN ''
  ELSE 'FAIL'
  END AS [SCI_FD]
  ,PARCC_ALG_II 
  ,SS
  ,PARCC_GEOM
  ,PARCC_ELA_11_READ
  ,PARCC_ELA_11_WRIT
  --,[WRITING] AS 'Writing EOC'
  --,CASE WHEN [PASS FAIL_WRITING] IS NULL OR [PASS FAIL_WRITING] = '' THEN 'NYT' ELSE [PASS FAIL_WRITING] END AS [PASS FAIL_WRITING]
  -- THIS IS AN OLD VERSION OF HISTORY NOT VALID FOR THIS REPORT ---
  --,[HISTORY]
  --,[PASS FAIL_HISTORY]
  --,[CHEMISTRY] AS 'Chemistry EOC'
  --,CASE WHEN [PASS FAIL_CHEMISTRY] IS NULL OR [PASS FAIL_CHEMISTRY] = '' THEN 'NYT' ELSE [PASS FAIL_CHEMISTRY] END AS [PASS FAIL_CHEMISTRY]
  --,[BIOLOGY] AS 'Biology EOC'
  --,CASE WHEN [PASS FAIL_BIOLOGY] IS NULL OR [PASS FAIL_BIOLOGY] = '' THEN 'NYT' ELSE [PASS FAIL_BIOLOGY] END AS [PASS FAIL_BIOLOGY]
  --,[EOC_READING] AS 'Reading EOC'
  --,CASE WHEN [PASS FAIL_EOC_READING] IS NULL OR [PASS FAIL_EOC_READING] = '' THEN 'NYT' ELSE [PASS FAIL_EOC_READING] END AS [PASS FAIL_EOC_READING]
  --,[SOCIAL STUDIES]
  --,[ECONOMICS] AS 'Economics EOC'
  --,CASE WHEN [PASS FAIL_ECON] IS NULL OR [PASS FAIL_ECON] = '' THEN 'NYT' ELSE [PASS FAIL_ECON] END AS [PASS FAIL_ECON]
  --,[NMHIST] AS 'NMHIST EOC'
  --,CASE WHEN [PASS FAIL_NMHIST] IS NULL OR [PASS FAIL_NMHIST] = '' THEN 'NYT' ELSE [PASS FAIL_NMHIST] END AS [PASS FAIL_NMHIST]
  --,[USGOV] AS 'USGOV EOC'
  --,CASE WHEN [PASS FAIL_USGOV] IS NULL OR [PASS FAIL_USGOV] = '' THEN 'NYT' ELSE [PASS FAIL_USGOV] END AS [PASS FAIL_USGOV]
  ,[PASSED_ALL_REQUIRED_TESTS] AS [PASSED ALL REQUIRED TESTS]
  --,SBA_FC
  --,RE_FC
  --,SC_FC
  --,SS_FC
  ,CASE WHEN LTRIM (Take_SBA) IS NULL OR LTRIM (Take_SBA) = '' THEN 'N/A' 
	ELSE
		CASE WHEN MA_PARCCALG_II = '1' OR MA_PARCCGEOM = '1' THEN Take_SBA + ' PASSED PARCC MATH'
		ELSE	
			CASE WHEN PARCC_ELA_11_READ = '1' THEN TAKE_SBA + ' PASSED PARCC READING'
			ELSE
				--CASE WHEN PARCC_ELA_11_WRIT = 'PASSED' THEN TAKE_SBA + 'PASSED PARCC WRITING'
				--ELSE 
					TAKE_SBA
				END
			END
		--END
  END AS Take_SBA
  ,CASE WHEN LTRIM (Take_EOC) IS NULL OR LTRIM (Take_EOC) = '' THEN 'N/A' ELSE Take_EOC
  END AS Take_EOC
  
  ,MATE AS 'MATH SBA ATTEMPTS'
  ,REAE AS 'READING SBA ATTEMPTS'
  ,SCIE AS 'SCIENCE SBA ATTEMPTS'
  ,SOC_STU AS EOC_SOCIAL_STUDIES_ATTEMPTS
  ,WRIT AS EOC_WRITING_ATTEMPTS
  ,[English Language Arts 11th Grade] AS 'PARCC ELA 11 ATTEMPTS'
  ,[Algebra 2] AS 'PARCC ALGEBRA 2 ATTEMPTS'
  ,Geometry AS 'PARC GEOMETRY ATTEMPTS'
  ,CASE
		WHEN ([PASS FAIL_READING] = 'FAIL' AND [PASS FAIL_RM] = 'FAIL') AND (PARCC_ELA_11_READ = 'FAIL') AND RE_FC = '00000000' AND REAE > '2' THEN 'READING ADC'
		ELSE
			CASE WHEN ([PASS FAIL_READING] = 'FAIL' AND [PASS FAIL_RM] = 'FAIL') AND PARCC_ELA_11_READ = 'FAIL' AND RE_FC = '00000000' AND REAE < '3' THEN 'PARCC_ELA'
			ELSE	
				CASE WHEN ([PASS FAIL_READING] != 'PASS' AND [PASS FAIL_RM] != 'PASS') AND (PARCC_ELA_11_READ IS NULL) THEN 'PARCC_ELA'
				--ELSE
				--	CASE WHEN ([PASS FAIL_READING] = 'FAIL' AND [PASS FAIL_RM] = 'FAIL') AND RE_FC != '00000000' AND REAE > '2' THEN  'PASSED'
		ELSE 'PASSED'
		--END
	  END
	END
  END AS 'READING REQUIREMENT'
  ,CASE
		WHEN WR_PARCC_WRI = '0' AND ([English Language Arts 11th Grade] > '0') AND (WRI = 'WRI') THEN 'WRITING ADC'
		ELSE		
			CASE WHEN WR_PARCC_WRI = '0' AND ([English Language Arts 11th Grade] < '1' OR [English Language Arts 11th Grade] IS NULL) AND (WR_FC = '00000000') THEN 'PARCC_ELA OR EOC WRI'
			ELSE 'PASSED'
		END
	END AS 'WRITING REQUIREMENT'

  ,CASE 
		WHEN ([PASS FAIL_MATH] != 'PASS' AND [PASS FAIL_RM] != 'PASS') AND (PARCC_ALG_II IS NULL AND PARCC_GEOM IS NULL) AND (MAT IS NULL OR MAT = 'MA' OR MAT = '') THEN 'PARCC-MATH'
		ELSE
		CASE	
			WHEN ([PASS FAIL_MATH] != 'PASS' AND [PASS FAIL_RM] = 'FAIL')  AND (PARCC_ALG_II = 'FAIL' OR PARCC_ALG_II IS NULL) OR (PARCC_GEOM = 'FAIL' OR PARCC_GEOM IS NULL) AND MAT = 'MA' AND ([Algebra 2] + Geometry + MATE < '3') THEN 'PARCC-'+ PARC_MAT.Subtest
		ELSE 
		CASE 
			WHEN ([PASS FAIL_MATH] != 'PASS' AND ([PASS FAIL_RM] = 'FAIL' or [PASS FAIL_RM] IS NULL))  AND (PARCC_ALG_II = 'FAIL' AND PARCC_GEOM IS NULL) OR (PARCC_GEOM = 'FAIL' AND PARCC_ALG_II IS NULL) AND MAT = 'MA' AND ([Algebra 2] + Geometry + MATE > '2') THEN 'MATH ADC'
			ELSE 'PASSED'
		END
	END
  END AS 'MATH REQUIREMENTS'

  ,CASE
	WHEN ([PASS FAIL_SCIENCE] != 'PASS' AND SCIE IS NULL) THEN 'SBA SCIENCE OR EOC'
	ELSE
	  CASE
			WHEN ([PASS FAIL_SCIENCE] = 'FAIL') AND SCIE > '1' AND SCI = 'SCI' THEN 'SCI ADC'
			ELSE
			CASE
				WHEN ([PASS FAIL_SCIENCE] = 'FAIL') AND SCIE < '2' AND (SCI = '') THEN 'SCIENCE SBA ATTEMPTS NOT EXHAUSTED'
				ELSE
				CASE WHEN ([PASS FAIL_SCIENCE] = 'FAIL' OR [PASS FAIL_SCIENCE] IS NULL) AND SCIE < '2' AND (SCI = 'SCI' OR SCI = '') THEN 'SBA SCIENCE OR EOC'
			ELSE 'PASSED'
			END
		END
	END
  END AS 'SCIENCE REQUIREMENTS'

  ,CASE 
		WHEN SS = 'SS' THEN 'SS EOC'
		ELSE 'PASSED'
  END AS 'SS REQUIREMENTS'
  ,SCIE
  ,WRI
  ,MAT
  ,[Algebra 2]
  ,Geometry
  ,RE_FC
  ,WR_FC
,[English Language Arts 11th Grade]
,WR_PARCC_WRI
,SCI
,SC_FC
,REAE
,([Algebra 2] + Geometry + MATE) AS MATH_TOTALS
,PARC_MAT.Subtest AS PARCC_MATH_TEST
--,(REAE + [English Language Arts 11th Grade]) AS READING_TOTALS
FROM
	(
	SELECT
	   *	
	  ,CASE
		WHEN TAKE_SBA IS NULL AND TAKE_EOC = '' THEN 'YES' ELSE 'NO' 
		END AS [PASSED_ALL_REQUIRED_TESTS]
	/*** FILL IN THE Take_EoC FIEID FOR EOC TESTS STILL NEEDED ***/ 
	FROM
	(
		SELECT
			   *
			  ,CASE
				WHEN TAKE_SBA IS NULL THEN LTRIM(SS + ' ' + WRI) ELSE
				LTRIM (SS + ' ' + WRI + ' ' + REA + ' ' + MAT + ' ' + SCI) 
			   END AS Take_EoC
		
		/*** CREATE LIST OF EOC TESTS STUDENT STILL NEEDS TO TAKE***/	   
		FROM
			(	
			SELECT
			  *
			  ,CASE WHEN SS_FC = '0000000000000000' THEN 'SS' ELSE '' END AS 'SS'
			  --,CASE WHEN MA_FC = '000000' THEN 'MA' ELSE '' END AS 'MA'
			  ,CASE WHEN (SUBSTRING (SBA_FC,1,1) = '1' OR SUBSTRING (SBA_FC,3,1) = '1') THEN '' ELSE
					CASE WHEN RE_FC = '00000000' THEN 'READING' ELSE '' END 
				END AS 'REA'
			  ,CASE WHEN SC_FC = '00000000000' THEN 'SCI' ELSE '' END AS 'SCI'
			  ,CASE WHEN WR_FC = '00000000' THEN 'WRI' ELSE '' END AS 'WRI'
			  ,CASE WHEN (SUBSTRING (SBA_FC,2,1) = '1' OR SUBSTRING (SBA_FC,3,1) = '1') THEN '' 
				ELSE
					CASE WHEN MA_FC = '000000' THEN 'MA' ELSE ''
					END
			  END AS 'MAT'
			
			/*** DETERMINE WHICH CONTENT AREAS A STUDENT HAS PASSED OR FAILED (SBA, SCIENCE, READING, MATH, SS)***/  
			FROM
			(
				SELECT
					  *
					  ,RSBA + MSBA + RMSBA + SSBA AS 'SBA_FC'
					  ,SS_GOV + SS_NMH + SS_ECON + SS_ECONV1 + SS_ECONV4 + SS_NMHV1 + SS_NMHSV4 + SS_NMHSV001 + SS_USGV1 + SS_USGV2 + SS_USGV5 + SS_USHV2 + SS_USGV1 + SS_USHV7 + SS_WHV1 + SS_WHV3 AS 'SS_FC'
					  /*** MATH FINAL DETERMINATION ***/
					  ,MA_AGIIV2 + MA_AGIIV6 + MA_GEOMV3 + MA_PRECV4 + MA_PARCCALG_II + MA_PARCCGEOM AS 'MA_FC'
					  /**** WRITING FINAL DETERMINATIION ***/
					  ,WR_III + WR_IIIV2 + WR_IIIV1 + WR_SPV1 + WR_IIIV6 + WR_IVV1 + WR_IVV3 + WR_PARCC_WRI AS 'WR_FC'
					  /*** READING FINAL DETERMINATION ***/
					  ,RE_EOC + RE_IIIV1 + RE_IIIV2 + RE_IIIV6 + RE_SPV1 + RE_IVV1 + RE_IVV3 + PARC_READ AS 'RE_FC'
					  /*** SCIENCE FINAL DETERMINATION ***/
					  ,SC_BIO + SC_CHE + SC_BIO2  + SC_BIO3 + SC_BIO7 + SC_CHEM2 + SC_CHEM3 + SC_CHEM8 + SC_Phy3 + SC_Anat2 + SC_ENVSV1  AS 'SC_FC'
					  
				/*** DETERMINE WHICH EOC AND SBA TESTS THE STUDENT HAS PASSED***/	  
				FROM
				(
					SELECT 
					  *
					  /**** SBA PASS FAIL DETERMINATION ***/
					  ,CASE WHEN [PASS FAIL_READING] = 'PASS' THEN '1' ELSE '0'
					  END AS 'RSBA'
					  ,CASE WHEN [PASS FAIL_MATH] = 'PASS' THEN '1' ELSE '0'
					  END AS 'MSBA'
					  ,CASE WHEN [PASS FAIL_RM] = 'PASS' THEN '1' ELSE '0'
					  END AS 'RMSBA'
					  ,CASE WHEN [PASS FAIL_SCIENCE] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SSBA'
					  
					  /**** EOC SOCIAL STUDIES PASS FAIL DETERMINATION ***/
					  ,CASE WHEN [PASS FAIL_USGOV] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_GOV'
					  ,CASE WHEN [PASS FAIL_NMHIST] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_NMH'
					  ,CASE WHEN [PASS FAIL_ECON] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_ECON'
					  ,CASE WHEN [Economics 9 12 V001] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_ECONV1'
					  ,CASE WHEN [Economics 9 12 V004] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_ECONV4'
					  ,CASE WHEN [New Mexico History 7 12 V001] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_NMHV1'
					  ,CASE WHEN [New Mexico 7 12 History V004] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_NMHSV4'
					  ,CASE WHEN [New Mexico 7 12 History V001] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_NMHSV001'
					  ,CASE WHEN [US Government Comprehensive 9 12 V001] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_USGV1'
					  ,CASE WHEN [US Government Comprehensive 9 12 V002] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_USGV2'
					  ,CASE WHEN [US Government Comprehensive 9 12 V005] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_USGV5'
					  --,CASE WHEN [US History V1] = 'PASS' THEN '1' ELSE '0'
					  --END AS 'SS_USHV1'
					  ,CASE WHEN [US History 9 12 V002] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_USHV2'
					  ,CASE WHEN [US History 9 12 V001] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_USHV1'
					  ,CASE WHEN [US History 9 12 V007] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_USHV7'
					  ,CASE WHEN [World History And Geography 9 12 V001] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_WHV1'
					  ,CASE WHEN [World History And Geography 9 12 V003] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SS_WHV3'
					  	 
					  /*** EOC MATH PASS FAIL DETERMINATION   ***/
					 /** ,CASE WHEN [Algebra I 7 12 V001] = 'PASS' THEN '1' ELSE '0'
					  END AS'MA_AGIV1' ***/
					  ,CASE WHEN [Algebra II 10 12 V002] = 'PASS' THEN '1' ELSE '0'
					  END AS 'MA_AGIIV2'
					  ,CASE WHEN [Algebra II 10 12 V006] = 'PASS' THEN '1' ELSE '0'
					  END AS 'MA_AGIIV6'
					  ,CASE WHEN [Geometry 9 12 V003] = 'PASS' THEN '1' ELSE '0'
					  END AS 'MA_GEOMV3'
					  ,CASE WHEN [Pre-Calculus 9 12 V004] = 'PASS' THEN '1' ELSE '0'
					  END AS 'MA_PRECV4'
					  ,CASE WHEN [PARCC_ALG_II] = 'PASS' THEN '1' ELSE '0'
					  END AS 'MA_PARCCALG_II'
					  ,CASE WHEN [PARCC_GEOM] = 'PASS' THEN '1' ELSE '0'
					  END AS 'MA_PARCCGEOM'

					  /*** EOC WRITING PASS FAIL DETERMINATION ***/
					  ,CASE WHEN [PASS FAIL_WRITING] = 'PASS' THEN '1' ELSE '0'
					  END AS 'WR_III'
					  ,CASE WHEN [English Language Arts III Writing 11 11 V002] = 'PASS' THEN '1' ELSE '0'
					  END AS 'WR_IIIV2'
					  ,CASE WHEN [English Language Arts III Writing 11 11 V001] = 'PASS' THEN '1' ELSE '0'
					  END AS 'WR_IIIV1'
					  ,CASE WHEN [English Language Arts III Writing 11 11 V006] = 'PASS' THEN '1' ELSE '0'
					  END AS 'WR_IIIV6'
					  ,CASE WHEN [Spanish Language Arts III Writing 11 11 V001] = 'PASS' THEN '1' ELSE '0'
					  END AS 'WR_SPV1'
					  ,CASE WHEN [English Language Arts IV Writing 12 12 V001] = 'PASS' THEN '1' ELSE '0'
					  END AS 'WR_IVV1'
					  ,CASE WHEN [English Language Arts IV Writing 12 12 V003] = 'PASS' THEN '1' ELSE '0'
					  END AS 'WR_IVV3'
					  ,CASE WHEN [PARCC_ELA_11_WRIT] = 'PASS' THEN '1' ELSE '0'
					  END AS 'WR_PARCC_WRI'
					  
					  /*** EOC READING PASS FAIL DETERMINATION ***/
					  ,CASE WHEN [PASS FAIL_EOC_READING] = 'PASS' THEN '1' ELSE '0'
					  END AS 'RE_EOC'
					  ,CASE WHEN [English Language Arts III Reading 11 11 V001] = 'PASS' THEN '1' ELSE '0'
					  END AS 'RE_IIIV1'
					  ,CASE WHEN [English Language Arts III Reading 11 11 V002] = 'PASS' THEN '1' ELSE '0'
					  END AS 'RE_IIIV2'
					  ,CASE WHEN [English Language Arts III Reading 11 11 V006] = 'PASS' THEN '1' ELSE '0'
					  END AS 'RE_IIIV6'
					  ,CASE WHEN [Spanish Language Arts III Reading 11 11 V001] = 'PASS' THEN '1' ELSE '0'
					  END AS 'RE_SPV1'
					  ,CASE WHEN [English Language Arts IV Reading 12 12 V001] = 'PASS' THEN '1' ELSE '0'
					  END AS 'RE_IVV1'
					  ,CASE WHEN [English Language Arts IV Reading 11 11 V003] = 'PASS' THEN '1' ELSE '0'
					  END AS 'RE_IVV3'
					  ,CASE WHEN [PARCC_ELA_11_READ] = 'PASS' THEN '1' ELSE '0'
					  END AS 'PARC_READ'

					  /*** EOC SCIENCE PASS FAIL DETERMINATION ***/
					  ,CASE WHEN [PASS FAIL_BIOLOGY] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SC_BIO'
					  ,CASE WHEN [PASS FAIL_CHEMISTRY] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SC_CHE'
					  ,CASE WHEN [Biology 9 12 V002] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SC_BIO2'
					  ,CASE  WHEN [Biology 9 12 V003] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SC_BIO3'
					  ,CASE  WHEN [Biology 9 12 V007] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SC_BIO7'
					  ,CASE WHEN [Chemistry 9 12 V002] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SC_CHEM2'
					  ,CASE WHEN [Chemistry 9 12 V003] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SC_CHEM3'
					  ,CASE WHEN [Chemistry 9 12 V008] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SC_CHEM8'
					  ,CASE WHEN [Physics 9 12 V003] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SC_Phy3'
					  ,CASE WHEN [Anatomy Physiology 11 12 V002] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SC_Anat2'	
					  ,CASE WHEN [Environmental Science 10 12 V001] = 'PASS' THEN '1' ELSE '0'
					  END AS 'SC_ENVSV1'
					  
					  
			FROM [EOC_AIMS_SBA_AND_EOC]
				) AS PF  
			) AS T1	
			LEFT JOIN
				[SBA_ARRAY] AS SBA
				ON SBA_FC = SBA.SBA_Array
		) AS T2
	)AS T3
	LEFT JOIN
	(
	SELECT
		STUD_ID
		,MATE
		,REAE
		,SCIE
	FROM
		(
		SELECT
		ID_NBR
		,TEST_SUB
		,ID_NBR AS STUD_ID
		FROM
			[EXIT_EXAM_STATUS_SBA_COUNTS]
		)AS TSUB 
		PIVOT
		(
		COUNT(ID_NBR) FOR TEST_SUB IN ([MATE], [REAE], [SCIE])) AS HOPE)I
		ON T3.ID_NBR = STUD_ID
	) AS T4

	LEFT JOIN
	(
	SELECT
		TUD_ID
		,WRITING AS WRIT
		,SS AS SOC_STU
	FROM
		(
		SELECT
		ID_NBR
		,TEST_ID
		,ID_NBR AS TUD_ID
		FROM
			[dbo].[EOC_COUNTS]
		)AS TSUB 
		PIVOT
		(
		COUNT(ID_NBR) FOR TEST_ID IN ([WRITING], [SS])) AS HOPE)G
		ON T4.ID_NBR = TUD_ID
	LEFT JOIN
	(
	SELECT
		STUDS_ID
		,[English Language Arts 11th Grade]
		,[Algebra 2]
		,[Geometry]
	FROM
		(
		SELECT
		APS_ID
		,Subtest
		--,ReadingPF
		--,WritingPF
		,APS_ID AS STUDS_ID
		FROM
			Preliminary_2015_PARCC
		WHERE Subtest IS NOT NULL
		)AS PARCC_C 
		PIVOT
		(
		COUNT([APS_ID]) FOR SUBTEST IN ([English Language Arts 11th Grade], [Algebra 2], [Geometry] )) AS HOPES)I
		ON T4.ID_NBR = STUDS_ID
		--ON T3.ID_NBR = STUD_ID
	LEFT JOIN
	(
		SELECT
		APS_ID
		,Subtest
		,APS_ID AS STUDS_ID
		FROM
			Preliminary_2015_PARCC
		WHERE Subtest IN ('Algebra 2','Geometry')
		AND Subtest IS NOT NULL
		)AS PARC_MAT
		ON PARC_MAT.STUDS_ID = T4.ID_NBR
		--ON PARC_C.ID_NBR = STUDS_ID

	

)AS FINAL	
--WHERE RE_FC = '00000000'
--WHERE ID_NBR = '102781044'
--WHERE GRADE = '12'
--WHERE [PASSED ALL REQUIRED TESTS] = 'NO'
--and GRADE = '12'
--ORDER BY RE_FC, REAE DESC
ORDER BY [SCIENCE REQUIREMENTS]
--ORDER BY [CURRENT SY2014 GRADE] DESC


