SELECT 
 	  [State Abbreviation]
      ,[Testing District]
      ,[Testing School]
      ,[Responsible District Identifier]
      ,[School Institution Identifier]
      ,[State Student Identifier]
      ,[Local Student Identifier]
      ,[PARCC Student ID]
      ,[Last or Surname]
      ,[First Name]
      ,[Middle Name]
      ,[Birthdate]
      ,[Sex]
      ,[Optional State Data 1]
      ,[Grade Level When Assessed]
      ,[Hispanic or Latino Ethnicity]
      ,[American Indian or Alaska Native]
      ,[Asian]
      ,[Black or African American]
      ,[Native Hawaiian or Other Pacific Islander]
      ,[White]
      ,[English Learner  (EL)]
      ,[Title III Limited English Proficient Participation Status]
      ,[Gifted and Talented]
      ,[Migrant Status]
      ,[Economic Disadvantage Status]
      ,[Student With Disabilities ]
      ,[Primary Disability Type]
      ,[Optional State Data 2]
      ,[Optional State Data 3]
      ,[Optional State Data 4]
      ,[Optional State Data 5]
      ,[Optional State Data 6]
      ,[Optional State Data 7]
      ,[Optional State Data 8]
      ,[Assessment Session Location]
      ,[Assessment Session Test Administrator Identifier]
      ,[Classroom Identifier]
      ,[Staff Member Identifier]
      ,[Test Code]
      ,[Test Format ]
      ,[Retest]
      ,[Assessment Accommodation   English learner (EL)]
      ,[Assessment Accommodation  504 ]
      ,[Assessment Accommodation  Individualized Educational Plan (IEP)]
      ,[Alternate Representation - Paper Test]
      ,[Translation of the Mathematics Assessment in Paper]
      ,[Human Reader or Human Signer]
      ,[Large Print]
      ,[Braille with Tactile Graphics]
      ,[End of Record]
FROM
(
SELECT 
      ROW_NUMBER () OVER (PARTITION BY [State Student Identifier],[Last or Surname], [First Name] ORDER BY [State Student Identifier]) AS RN
	  ,[State Abbreviation]
      ,[Testing District]
      ,[Testing School]
      ,[Responsible District Identifier]
      ,[School Institution Identifier]
      ,[State Student Identifier]
      ,[Local Student Identifier]
      ,[PARCC Student ID]
      ,[Last or Surname]
      ,[First Name]
      ,[Middle Name]
      ,[Birthdate]
      ,[Sex]
      ,[Optional State Data 1]
      ,[Grade Level When Assessed]
      ,[Hispanic or Latino Ethnicity]
      ,[American Indian or Alaska Native]
      ,[Asian]
      ,[Black or African American]
      ,[Native Hawaiian or Other Pacific Islander]
      ,[White]
      ,[English Learner  (EL)]
      ,[Title III Limited English Proficient Participation Status]
      ,[Gifted and Talented]
      ,[Migrant Status]
      ,[Economic Disadvantage Status]
      ,[Student With Disabilities ]
      ,[Primary Disability Type]
      ,[Optional State Data 2]
      ,[Optional State Data 3]
      ,[Optional State Data 4]
      ,[Optional State Data 5]
      ,[Optional State Data 6]
      ,[Optional State Data 7]
      ,[Optional State Data 8]
      ,[Assessment Session Location]
      ,[Assessment Session Test Administrator Identifier]
      ,[Classroom Identifier]
      ,[Staff Member Identifier]
      ,[Test Code]
      ,[Test Format ]
      ,[Retest]
      ,[Assessment Accommodation   English learner (EL)]
      ,[Assessment Accommodation  504 ]
      ,[Assessment Accommodation  Individualized Educational Plan (IEP)]
      ,[Alternate Representation - Paper Test]
      ,[Translation of the Mathematics Assessment in Paper]
      ,[Human Reader or Human Signer]
      ,[Large Print]
      ,[Braille with Tactile Graphics]
      ,[End of Record]
  FROM [SchoolNet].[dbo].[New_StudentRegisrationFile_14_15]
) AS T1
WHERE RN = 1 AND [State Student Identifier] > '1'
  order by [Local Student Identifier]