USE
	Assessments
GO

SELECT
	student_code
	,'' AS TWO
	,SchoolCode
	,[TEST DATE]
	,stid
	,LastName
	,FirstName
	,grade_code
	,'' AS NINE
	,'' AS TEN
	,CASE 
		WHEN test_section_name = 'SS_ALG02_FALL_2015' THEN
			CASE
				WHEN RAW_SCORE BETWEEN 650 AND 699 THEN '1'
				WHEN RAW_SCORE BETWEEN 700 AND 724 THEN '2'
				WHEN RAW_SCORE BETWEEN 725 AND 749 THEN '3'
				WHEN RAW_SCORE BETWEEN 750 AND 807 THEN '4'
				WHEN RAW_SCORE BETWEEN 808 AND 850 THEN '5'
			END
		ELSE
		CASE 
			WHEN test_section_name = 'SS_ALG01_FALL_2015' THEN
			CASE	
				WHEN RAW_SCORE BETWEEN 650 AND 699 THEN '1'
				WHEN RAW_SCORE BETWEEN 700 AND 724 THEN '2'
				WHEN RAW_SCORE BETWEEN 725 AND 749 THEN '3'
				WHEN RAW_SCORE BETWEEN 750 AND 804 THEN '4'
				WHEN RAW_SCORE BETWEEN 805 AND 850 THEN '5'
			END
		ELSE
		CASE 
			WHEN test_section_name = 'SS_GEO01_FALL_2015' THEN
			CASE	
				WHEN RAW_SCORE BETWEEN 650 AND 699 THEN '1'
				WHEN RAW_SCORE BETWEEN 700 AND 724 THEN '2'
				WHEN RAW_SCORE BETWEEN 725 AND 749 THEN '3'
				WHEN RAW_SCORE BETWEEN 750 AND 882 THEN '4'
				WHEN RAW_SCORE BETWEEN 883 AND 850 THEN '5'
			END
		ELSE
		CASE 
			WHEN test_section_name = 'SS_ELA09_FALL_2015' THEN
			CASE	
				WHEN RAW_SCORE BETWEEN 650 AND 699 THEN '1'
				WHEN RAW_SCORE BETWEEN 700 AND 724 THEN '2'
				WHEN RAW_SCORE BETWEEN 725 AND 749 THEN '3'
				WHEN RAW_SCORE BETWEEN 750 AND 790 THEN '4'
				WHEN RAW_SCORE BETWEEN 791 AND 850 THEN '5'
			END
		ELSE
		CASE 
			WHEN test_section_name = 'SS_ELA10_FALL_2015' THEN
			CASE	
				WHEN RAW_SCORE BETWEEN 650 AND 699 THEN '1'
				WHEN RAW_SCORE BETWEEN 700 AND 724 THEN '2'
				WHEN RAW_SCORE BETWEEN 725 AND 749 THEN '3'
				WHEN RAW_SCORE BETWEEN 750 AND 793 THEN '4'
				WHEN RAW_SCORE BETWEEN 794 AND 850 THEN '5'
			END
		ELSE
		CASE 
			WHEN test_section_name = 'SS_ELA11_FALL_2015' THEN
			CASE	
				WHEN RAW_SCORE BETWEEN 650 AND 699 THEN '1'
				WHEN RAW_SCORE BETWEEN 700 AND 724 THEN '2'
				WHEN RAW_SCORE BETWEEN 725 AND 749 THEN '3'
				WHEN RAW_SCORE BETWEEN 750 AND 791 THEN '4'
				WHEN RAW_SCORE BETWEEN 792 AND 850 THEN '5'
			END
	 END END END END END END AS PL	
	 ,test_section_name
	 ,'' AS THIRTEEN				
	 ,'' AS FOURTEEN
	 ,'' AS FIFTEEN
	 ,RAW_SCORE
FROM
(
SELECT 
	   STUD.student_code
      ,[Schnumb]
      ,[SchoolCode]
	  ,'2015-10-01' AS 'TEST DATE'
      ,[stid]
      ,[LastName]
      ,[FirstName]
	  ,STUD.grade_code
      ,[MiddleName]
      ,PARCC.[DOB]
      ,[SS_ALG02_FALL_2015]
      ,[SS_ALG01_FALL_2015]
      ,[SS_GEO01_FALL_2015]
      ,[SS_ELA09_FALL_2015]
      ,[SS_ELA10_FALL_2015]
      ,[SS_ELA11_FALL_2015]
      --,[SS_ELA11W_FALL_2015]
      --,[SS_ELA11R_FALL_2015]
      ,[OverallELA]
      ,[ReadingComponent]
      ,[WritingComponent]
      ,[OverallMath]
      ,[OverallScience]
  FROM [Assessments].[dbo].[PARCC_HSGA_FALL_2015_PARCC] AS PARCC
  LEFT JOIN
  ALLSTUDENTS AS STUD
  ON PARCC.stid = STUD.STATE_ID

  WHERE 
	1 = 1
	--AND [SS_ALG02_FALL_2015'
	--AND [SS_GEO01_FALL_2015'
	--AND [SS_ALG01_FALL_2015'
	--AND [SS_ELA09_FALL_2015'
	--AND [SS_ELA10_FALL_2015'
	--AND [SS_ELA11_FALL_2015'
	--AND stid = '104094917'
) AS T1
UNPIVOT (RAW_SCORE FOR test_section_name IN ([SS_ALG02_FALL_2015], SS_GEO01_FALL_2015, SS_ALG01_FALL_2015, SS_ELA09_FALL_2015, SS_ELA10_FALL_2015, SS_ELA11_FALL_2015
		--,[Math]
	)) AS Unpvt
WHERE 
	1 = 1
	AND RAW_SCORE > 1
	--AND test_section_name = 'SS_ALG02_FALL_2015'
	--AND test_section_name =  'SS_GEO01_FALL_2015'
	--AND test_section_name =  'SS_ALG01_FALL_2015'
	--AND test_section_name =  'SS_ELA09_FALL_2015'
	--AND test_section_name =  'SS_ELA10_FALL_2015'
	--AND test_section_name =  'SS_ELA11_FALL_2015'
	ORDER BY test_section_name
