USE
ST_Production
GO


SELECT
	COURSE_ID
	,STATE_COURSE_CODE
	,COURSE_TITLE
	,COURSE_DURATION
	,CREDIT
	,COURSE_HISTORY_TYPE
	,DUAL_CREDIT
	,INACTIVE

FROM
(

SELECT 
	   [COURSE_GU]
      ,[SCHOOL_TYPE]
      ,[COURSE_ID]
      ,[COURSE_TITLE]
      ,[COURSE_SHORT_TITLE]
      ,[MANDATORY_OPT_IN]
      ,[ACADEMIC_TYPE]
      ,[COURSE_DURATION]
      ,[GENDER_REQUIREMENT]
      ,[GRADE_RANGE_LOW]
      ,[GRADE_RANGE_HIGH]
      ,[CREDIT]
      ,[MAX_CREDIT]
      ,[DEPARTMENT]
      ,[COLLEGE_PREP]
      ,[ALT_ID_1]
      ,[ALT_ID_2]
      ,[ALT_ID_3]
      ,[ALT_ID_4]
      ,[SUBJECT_AREA_1]
      ,[SUBJECT_AREA_2]
      ,[SUBJECT_AREA_3]
      ,[SUBJECT_AREA_4]
      ,[SUBJECT_AREA_5]
      ,[COLLEGE_AREA_1]
      ,[COLLEGE_AREA_2]
      ,[COLLEGE_AREA_3]
      ,[COLLEGE_AREA_4]
      ,[COLLEGE_AREA_5]
      ,[UNIVERSITY_AREA_1]
      ,[UNIVERSITY_AREA_2]
      ,[UNIVERSITY_AREA_3]
      ,[UNIVERSITY_AREA_4]
      ,[UNIVERSITY_AREA_5]
      ,[OLD_SIS_COURSE_ID]
      ,[DESCRIPTION]
      ,[INACTIVE]
      ,[TEACHER_AIDE]
      ,[DUPLICATE_REQUEST]
      ,[SCHEDULE_PRIORITY]
      ,[QUALIFIES_FOR_ALT_FUNDING]
      ,[ELL_INDICATOR]
      ,[LANGUAGE_OF_INSTRUCTION]
      ,[STATE_CATEGORY_CODE]
      ,[EL_LANGUAGE]
      ,[VOC_ED_TYPE]
      ,[NCLB_CORE]
      ,[EFFECTIVE_DATE]
      ,[PXP_GRADE_RANGE_LOW]
      ,[PXP_GRADE_RANGE_HIGH]
      ,[FEE]
      ,[FEE_CATEGORY]
      ,[CHANGE_DATE_TIME_STAMP]
      ,[CHANGE_ID_STAMP]
      ,[ADD_DATE_TIME_STAMP]
      ,[ADD_ID_STAMP]
      ,[PXP_SCHEDULE_PRIORITY]
      ,[FUNDING_SOURCE]
      ,[TECHNICAL_COURSE]
      ,[INSTRUCTIONAL_LEVEL]
      ,[TECHNICAL_PROVIDER]
      ,[COLLEGE_APPROVED]
      ,[CP_PROGRAM_CODE]
      ,[CP_COURSE_CODE]
      ,[CP_COURSE_LENGTH]
      ,[COURSE_TYPE]
      ,[PROFICIENCY_CORE]
      ,[APPORTIONMENT_CAT]
      ,[VC1_CRS_DISC]
      ,[VC1_TEST_GRP_GU]
      ,[VC2_CRS_DISC]
      ,[VC2_TEST_GRP_GU]
      ,[EXTENDED_DAY]
      ,[DISTANCE_LEARNING]
      ,[PXP_DO_NOT_SHOW_IN_OCR]
      ,[EXCLUDE_FROM_STATE_RPT]
      ,[SCED_SUBJECT_AREA]
      ,[SCED_COURSE_CODE]
      ,[SCED_COURSE_LEVEL]
      ,[SCED_AVAILABLE_CREDIT]
      ,[SCED_SEQUENCE]
      ,[CP_SKILLS_TEST]
      ,[AP_INDICATOR]
      ,[IB_INDICATOR]
      ,[IGCSE_INDICATOR]
      ,[AICE_INDICATOR]
      ,[STATE_COURSE_CODE]
      ,[OTHER_PROVIDER_ID]
      ,[OTHER_PROVIDER_NAME]
      ,[OTHER_PROVIDER_DESC]
      ,[EXCLUDE_FROM_ELIG_CRS_CNT]
      ,[EXCLUDE_FROM_ATT_LETTERS]
      ,[EXCLUDE_FROM_CRS_CNT_MULT]
      ,[ALWAYS_SHOW_IN_CHS_ADD]
      ,[PRIMARY_ORG_GU]
      ,[YEAR_START]
      ,[YEAR_END]
      ,[DEPARTMENT_CODE]
      ,[SHORT_DESC]
      ,[GRAD_REQUIREMENT_INDICATOR]
      ,[MAXIMUM_SIZE]
      ,[OPTIMUM_SIZE]
      ,[PASS_FAIL]
      ,[ONLINE_COURSE]
      ,[AP_TEST_GROUP_GU]
      ,[COLLEGE_CODE]
      ,[COLLEGE_COURSE_CODE]
      ,[COLLEGE_COURSE_CREDITS]
      ,[COLLEGE_COURSE_TITLE]
      ,[RECORD_TYPE]
      ,[COURSE_HISTORY_TYPE]
      ,[ALLOW_SCH_CRS_TITLE_OVR]
      ,[DUAL_CREDIT]
      ,[CONTENT_AREA_CODE]
      ,[AP_CODE]
      ,[IB_CODE]
      ,[CIP_CODE]
      ,[ALTERNATIVE_LEARNING]
      ,[PERKINS_FUNDED]
      ,[CTE_COURSE_LEVEL]
      ,[CTE_CREDITS_REQ]
      ,[CTE_TOTAL_DURATION]
      ,[PROGRAM_3Y]
      ,[PROGRAM_4Y]
      ,[GOV_ACAD_CODE]
      ,[SPECIAL_EDUCATION]
      ,[COOP_LEARNING]
      ,[COURSES_IN_SEQUENCE]
      ,[MODIFIED]
      ,[CLASS_INDICATOR]
      ,[POSTSECONDARY_INSTITUTION]
      ,[JOBS_FOR_AMERICAN_GRADS_PGM]
      ,[CREDIT_FORGIVENESS]
      ,[SUBJECT_AREA_1_LVL]
      ,[SUBJECT_AREA_2_LVL]
      ,[SUBJECT_AREA_3_LVL]
      ,[SUBJECT_AREA_4_LVL]
      ,[SUBJECT_AREA_5_LVL]
      ,[COLLEGE_AREA_1_LVL]
      ,[COLLEGE_AREA_2_LVL]
      ,[COLLEGE_AREA_3_LVL]
      ,[COLLEGE_AREA_4_LVL]
      ,[COLLEGE_AREA_5_LVL]
      ,[UNIVERSITY_AREA_1_LVL]
      ,[UNIVERSITY_AREA_2_LVL]
      ,[UNIVERSITY_AREA_3_LVL]
      ,[UNIVERSITY_AREA_4_LVL]
      ,[UNIVERSITY_AREA_5_LVL]
      ,[CRDC_SUBJECT_AREA]
      ,[CRDC_COURSE_CODE]
      ,[RIGOR_POINT]
      ,[CTE_GENDER_TYPE]
      ,[SOL_INDICATOR]
      ,[SOL_TEST_CODE]
      ,[POST_SEC_CREDIT_OVERRIDE]
      ,[EXTENDED_INFO]
      ,[DEFAULT_TO_ALPHA]
  FROM [ST_Production].[rev].[EPC_CRS]
  WHERE 1 = 1
  AND INACTIVE = 'N'
  AND LEFT(STATE_COURSE_CODE,4) IN (
									'2097',
									'0818',
									'0817',
									'0508',
									'0504',
									'0501',
									'0302',
									'0301',
									'0231',
									'0230',
									'0228',
									'0227',
									'0205',
									'0204',
									'3020',
									'2755',
									'2743',
									'2742',
									'2741',
									'2740',
									'2739',
									'2736',
									'2734',
									'2732',
									'2730',
									'2729',
									'2725',
									'2724',
									'2723',
									'2721',
									'2717',
									'2716',
									'2706',
									'2700',
									'2305',
									'2304',
									'2301',
									'2053',
									'2041',
									'2034',
									'2031',
									'2028',
									'2027',
									'2026',
									'2025',
									'1752',
									'1751',
									'1735',
									'1733',
									'1731',
									'1725',
									'1723',
									'1721',
									'1715',
									'1713',
									'1712',
									'1711',
									'1710',
									'1709',
									'1708',
									'1707',
									'1706',
									'1705',
									'1701',
									'1550',
									'1499',
									'1420',
									'1404',
									'1403',
									'1402',
									'1401',
									'1252',
									'1176',
									'1171',
									'1164',
									'1150',
									'1149',
									'1147',
									'1146',
									'1142',
									'1141',
									'1133',
									'1132',
									'1131',
									'1130',
									'1129',
									'1128',
									'1127',
									'1126',
									'1125',
									'1124',
									'1123',
									'1122',
									'1121',
									'1120',
									'1119',
									'1118',
									'1113',
									'1112',
									'1111',
									'1013',
									'1012',
									'1004',
									'1003'
							)
  ) CRS
  ORDER BY STATE_COURSE_CODE, COURSE_TITLE, COURSE_DURATION