


SELECT
	SIS_NUMBER
	,FILE_NAME
FROM
(
SELECT DISTINCT 
	  LEFT([FILE_NAME],5)+'.png' AS FILE_NAME
      ,CP.[LAST_NAME]
      ,CP.[FIRST_NAME]
      ,CP.[GRADE]
	  ,PE.GRADE AS PEGRADE
	  ,RIGHT('0000'+STU.SIS_NUMBER,12) AS SIS_NUMBER
  FROM [ST_Production].[APS].[CLASS_PICTURES] AS CP

  JOIN
     REV.REV_PERSON PER
	 ON PER.FIRST_NAME = CP.FIRST_NAME
	 AND PER.LAST_NAME = CP.LAST_NAME

  --JOIN REV.EPC_STAFF AS STFF
  --ON STFF.STAFF_GU = PER.PERSON_GU

  LEFT JOIN
	REV.EPC_STU AS STU
	ON STU.STUDENT_GU = PER.PERSON_GU
  
  LEFT JOIN
	APS.PrimaryEnrollmentDetailsAsOf (GETDATE()) AS PE
	ON PE.STUDENT_GU = PER.PERSON_GU
	AND PE.GRADE = CP.GRADE
	AND PE.SCHOOL_CODE = '591'

--WHERE PE.GRADE IS NOT NULL
--WHERE 1 = 1
--AND CP.GRADE = '10'

WHERE 1 = 1
AND (CP.GRADE = 'STAFF' OR PE.GRADE IS NOT NULL)
--AND CP.GRADE = '10'
) TT
WHERE 1 = 1
AND SIS_NUMBER IS NOT NULL
  ORDER BY FILE_NAME