

SELECT 
	[PED APS LOC]
	,STUD.student_code AS APS_STUDENT_ID
	,STUD.STATE_ID

	,[PSAT CRITICAL READING SCALED SCORE]
	,[PSAT READING NATIONAL PERCENTILE]
	,[PSAT MATH SCALED SCORE]
	,[PSAT MATH NATIONAL PERCENTILE]
	,[PSAT WRITING SCALED SCORE]
	,[PSAT WRITING NATIONAL PERCENTILE]
	,NAME_LAST
	,NAME_FIRST
	,BIRTH_DATE
FROM
(
SELECT 
	  CODE.[PED APS LOC]
      ,[AI_NAME]
      ,[LATEST_PSAT_READING] AS 'PSAT CRITICAL READING SCALED SCORE'
	  ,[PERCENTILE_NATREP_PSAT_READING] AS 'PSAT READING NATIONAL PERCENTILE'
      ,[LATEST_PSAT_WRIT_LANG] AS 'PSAT WRITING SCALED SCORE'
	  ,[PERCENTILE_NATREP_PSAT_WRIT_LANG] AS 'PSAT WRITING NATIONAL PERCENTILE'
      ,[LATEST_PSAT_MATH_TEST] AS 'PSAT MATH SCALED SCORE'
	  ,[PERCENTILE_NATREP_PSAT_MATH_SECTION] AS 'PSAT MATH NATIONAL PERCENTILE'
      ,[SCH_YR]
	  ,NAME_FIRST
	  ,NAME_LAST
	  ,BIRTH_DATE
  FROM [Assessments].[dbo].[CCR_PSAT_2015-2016] AS PSAT

  LEFT JOIN
  school_codes_ACT_SAT_To_APS AS CODE
  ON CODE.[ACT SAT HS Code] = AI_CODE
) AS T1
  LEFT JOIN
  ALLSTUDENTS AS STUD
  ON T1.NAME_LAST = STUD.last_name
  AND T1.NAME_FIRST = STUD.first_name
  AND [PED APS LOC] = STUD.school_code
WHERE STUD.student_code IS NULL
ORDER BY APS_STUDENT_ID