BEGIN TRAN
SELECT
	DST_NBR
	,ID_NBR
	,TEST_ID
	,TEST_SUB
	,SCH_YR
	,TEST_DT
	,SCH_NBR
	,GRDE
	,SCORE1
	,SCORE2
	,SCORE3
FROM
(
SELECT 
	ROW_NUMBER () OVER (PARTITION BY ID_NBR ORDER BY ID_NBR, TEST_DT) AS RN
	,DST_NBR
	,CAST (ID_NBR AS INT) AS ID_NBR
	,TEST_ID
	,TEST_SUB
	,SCH_YR
	,TEST_DT
	,SCH_NBR
	,STUD.[CURRENT GRADE LEVEL] AS GRDE
	,CASE 
		WHEN SCORE1 ='1' THEN 'BS'
		WHEN SCORE1 = '2' THEN 'NP'
		WHEN SCORE1 = '3' THEN 'PRO'
		WHEN SCORE1 = '4' THEN 'ADV'
	 END AS SCORE1
	,SCORE2
	,SCORE3
FROM
(
SELECT 
      RIGHT ([DisCode],1) AS DST_NBR
	  ,[NASISID] AS ID_NBR
	  ,'SBA' AS TEST_ID
	  ,CASE	
		WHEN TEST_SUB = 'MathScaleScore' THEN 'MATE'
		WHEN TEST_SUB = 'ReadScaleScore' THEN 'REAE'
		WHEN TEST_SUB = 'WriScaleScore' THEN 'WRIE'
		WHEN TEST_SUB = 'SciScaleScore' THEN 'SCIE'
	  END AS TEST_SUB	
	  ,'2014' AS SCH_YR
	  ,'20140401' AS TEST_DT
	  ,[SchCode] AS SCH_NBR
      ,RIGHT ('0'+[StuGrade],2) AS GRDE
      ,[Grade]
      ,[TestDate]
	  ,SCORE_TYPE
	  ,MathPerformanceLevel
	  ,ReadPerformanceLevel
	  ,SciPerformanceLevel
	  ,WriPerformanceLevel
	  ,CASE	
		WHEN TEST_SUB = 'MathScaleScore' THEN MathPerformanceLevel
		WHEN TEST_SUB = 'ReadScaleScore' THEN ReadPerformanceLevel
		WHEN TEST_SUB = 'WriScaleScore' THEN WriPerformanceLevel
		WHEN TEST_SUB = 'SciScaleScore' THEN SciPerformanceLevel
	  END AS SCORE1
	 ,SCORE_TYPE AS SCORE2
	 ,CASE
		WHEN StuGrade LIKE 'H%' THEN StuGrade ELSE ''
	 END AS SCORE3
  FROM [SchoolNet].[dbo].[SBA_Spring_StudentFile_2014] AS SBA

UNPIVOT (SCORE_TYPE FOR TEST_SUB IN (MATHSCALESCORE, READSCALESCORE, WRISCALESCORE, SCISCALESCORE)) AS NEW
) AS T1

LEFT JOIN [046-WS02].[db_STARS_History].DBO.STUDENT AS STUD
ON ID_NBR = STUD.[ALTERNATE STUDENT ID]
WHERE STUD.SY = '2014'
AND STUD.PERIOD = '2013-10-01'
AND DST_NBR = '1'
AND SCORE1 != ''
AND SCORE1 != '5'
AND SCH_NBR > '100'
--AND ID_NBR NOT IN ('970107578','970100569','970029257')
--AND ID_NBR = '970082886'
AND SCH_NBR NOT IN ('61','63','7','118','6','35','17')
AND  TEST_SUB = 'MATE'
) AS T2
WHERE RN = 1
--WHERE ID_NBR IN ('100070770','102788015','970047363')
ORDER BY ID_NBR
ROLLBACK