/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	  [FULL_NAME]
	  ,FIRST_NAME
	  ,LAST_NAME
	  ,MI
	  ,ID_NBR
	  ,STID
	 -- ,SUBSTRING(FULL_NAME, 1, CHARINDEX(',', FULL_NAME) - 1) AS LastName
	 -- ,CASE WHEN CHARINDEX('  ', FULL_NAME) <> LEN(FULL_NAME) - CHARINDEX('  ', REVERSE(FULL_NAME)) + 1 THEN
	 -- SUBSTRING(FULL_NAME, CHARINDEX(',', FULL_NAME)+ 3, LEN(FULL_NAME) - CHARINDEX(' ', REVERSE(FULL_NAME))-CHARINDEX(' ', FULL_NAME))
	 -- END AS FirstName
		--,RIGHT( FULL_NAME, CHARINDEX('  ', REVERSE(FULL_NAME))-1) AS 'MI'
   --   ,[DOB]
	  --,convert(varchar(10), DOB, 126) AS 'NEW DATE'
	  --,convert(datetime, DOB, 121) AS 'ANOTHER DATE'
	  , DOB
      ,[GRADE]
      ,[SCHOOL]
      --,[ART HISTORY]
      --,[BIOLOGY]
      --,[CALCULUS AB]
      --,[CALCULUS BC]
      --,[CHEMISTRY]
      --,[CHINESE LANGUAGE AND CULTURE]
      --,[COMPUTER SCIENCE A]
      --,[ENGLISH LANGUAGE AND COMPOSITION]
      --,[ENGLISH LITERATURE AND COMPOSITION]
      --,[ENVIRONMENTAL SCIENCE]
      --,[EUROPEAN HISTORY]
      --,[FRENCH LANGUAGE]
      --,[GERMAN LANGUAGE]
      --,[GOVERNMENT AND POLITICS: COMPARATIVE]
      --,[GOVERNMENT AND POLITICS: UNITED STATES]
      --,[HUMAN GEOGRAPHY]
      --,[ITALIAN LANGUAGE AND CULTURE]
      --,[JAPANESE LANGUAGE AND CULTURE]
      --,[LATIN: VERGIL]
      --,[MACROECONOMICS]
      --,[MICROECONOMICS]
      --,[MUSIC THEORY]
      --,[PHYSICS B]
      --,[PHYSICS C: ELECTRICITY AND MAGNETISM]
      --,[PHYSICS C: MECHANICS]
      --,[PSYCHOLOGY]
      --,[SPANISH LANGUAGE]
      --,[SPANISH LITERATURE]
      --,[STATISTICS]
      --,[STUDIO ART: 2-D DESIGN]
      --,[STUDIO ART: 3-D DESIGN]
      --,[STUDIO ART: DRAWING]
      --,[US HISTORY]
      --,[WORLD HISTORY]
  FROM [SchoolNet].[dbo].[CCR_AP_RAW]
  --WHERE LAST_NAME IS NULL
  --WHERE RIGHT(DOB, 3) = '/96'
  --where FULL_NAME = ''
  WHERE STID IS NULL
  ORDER BY STID
