/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [USER_GU]
      ,[LOGIN_NAME]
      ,[PASSWORD]
      ,[COLOR_SCHEME_GU]
      ,[FOCUS_ORGANIZATION_GU]
      ,[DISABLED]
      ,[USER_TYPE]
      ,[IS_ADMINISTRATOR]
      ,[EXEMPT_FROM_STUDENT_TEAM]
      ,[CHANGE_ID_STAMP]
      ,[CHANGE_DATE_TIME_STAMP]
      ,[FOCUS_YEAR_GU]
      ,[PREV]
      ,[CURRENT]
      ,[NEXT]
      ,[SHOW_INACTIVE_STUDENTS]
      ,[DEFAULT_MODE]
      ,[NON_YEAR_SECURITY]
      ,[SHOW_BO_ON_MOUSEOVER]
      ,[PAGING_SIZE]
      ,[PAGING_ROW_SIZE]
      ,[PREFERENCES]
      ,[POV_USERGROUP_GU]
      ,[LOGIN_ATTEMPTS]
      ,[LAST_LOGIN_DATE]
      ,[MONDAY_ENABLED]
      ,[MONDAY_ACC_BEGIN]
      ,[MONDAY_ACC_END]
      ,[TUESDAY_ENABLED]
      ,[TUESDAY_ACC_BEGIN]
      ,[TUESDAY_ACC_END]
      ,[WEDNESDAY_ENABLED]
      ,[WEDNESDAY_ACC_BEGIN]
      ,[WEDNESDAY_ACC_END]
      ,[THURSDAY_ENABLED]
      ,[THURSDAY_ACC_BEGIN]
      ,[THURSDAY_ACC_END]
      ,[FRIDAY_ENABLED]
      ,[FRIDAY_ACC_BEGIN]
      ,[FRIDAY_ACC_END]
      ,[SATURDAY_ENABLED]
      ,[SATURDAY_ACC_BEGIN]
      ,[SATURDAY_ACC_END]
      ,[SUNDAY_ENABLED]
      ,[SUNDAY_ACC_BEGIN]
      ,[SUNDAY_ACC_END]
      ,[VIRTUAL_ROOT_NODE_GU]
      ,[SHOW_QUICK_LAUNCH]
      ,[FORCE_PASSWORD_CHANGE]
      ,[LOG_IN_PAGE_PREF]
      ,[LAST_LOG_IN_PAGE]
      ,[EXEMPT_FROM_LDAP]
      ,[SPELL_CHECK_OPTIONS]
      ,[DASHBOARD_WIDGETS_PER_ROW]
      ,[ADD_DATE_TIME_STAMP]
      ,[ADD_ID_STAMP]
      ,[MASK_PHONE_NUMBERS]
      ,[CAN_EDIT_ELEMENTS]
      ,[CANNOT_BE_IMPERSONATED]
      ,[SHOW_TASK_LIST]
      ,[TEST_INSERT]
      ,[TEST_UPDATE]
      ,[TEST_DELETE]
      ,[SIREN_SECURITY]
  FROM [ST_Production].[rev].[REV_USER]