USE
ASSESSMENTS
GO

SELECT 
      [NASISID] AS 'APS ID'
	  ,RPTSTUDID AS 'STATE ID'
	  ,'2012-2013' AS 'SCHOOL YEAR'
	  ,ReadScaleScore AS 'SBA READING SCALED SCORE'
	  ,ReadPerformanceLevel AS 'SBA READING PRIFICIENCY/PERFORMANCE LEVEL'
	  ,ReadSEM AS 'SBA READING STD ERROR'
	  ,ReadSEMLower AS 'SBA READING STD ERROR LOWER LIMIT'
	  ,ReadSEMUpper AS 'SBA READING STD ERROR UPPER LIMIT'
	  ,WriScaleScore AS 'SBA WRITING SCALED SCORE'
	  ,WriPerformanceLevel AS 'SBA WRITING PROFICIENCY/PERFORMANCE LEVEL'
	  ,WriSEM AS 'SBA WRITING STD ERROR'
	  ,WriSEMLower AS 'SBA WRITING STD LOWER LIMIT'
	  ,WriSEMUpper AS 'SBA WRITING STD UPPER LIMIT'
	  ,MathScaleScore AS 'SBA MATH SCALED SCORE'
	  ,MathPerformanceLevel AS 'SBA MATH PROFICIENCY/PERFORMANCE LEVE'
	  ,MathSEM AS 'SBA MATH STD ERROR'
	  ,MathSEMLower AS 'SBA MATH STD LOWER LIMIT'
	  ,MathSEMUpper AS 'SBA MATH STD UPPER LIMIT'
	  ,TestLanguage AS 'MATH TEST LANGUAGE'
  FROM [Assessments].[dbo].[NMSBA_2012_2013_With_APS_ID]