
WITH PARCC_MATH_2014 AS
(
SELECT 
	SIS_NUMBER
	,TEST_NAME
	,SY
	,TEST_SCORE
	,PL	
FROM
(
SELECT 
	   ROW_NUMBER () OVER (PARTITION BY SIS_NUMBER, PART_DESCRIPTION, TEST_SCORE ORDER BY TEST_SCORE DESC) AS RN
	   ,PERSON.FIRST_NAME
       ,PERSON.LAST_NAME
       ,CAST (SIS_NUMBER AS INT) AS SIS_NUMBER
       ,TEST.TEST_NAME
	   ,PART.PART_DESCRIPTION
	   ,TEST.TEST_LEVEL
	   ,TEST.TEST_FORM
	   ,CASE WHEN ADMIN_DATE BETWEEN '2015-08-01 00:00:00' AND '2016-06-01 00:00:00' THEN '2015' 
			 WHEN ADMIN_DATE BETWEEN '2016-08-01 00:00:00' AND '2017-07-01 00:00:00' THEN '2016' 
			 WHEN ADMIN_DATE BETWEEN '2014-08-01 00:00:00' AND '2015-07-01 00:00:00' THEN '2014' 
	   END AS SY
       ,STU_PART.PERFORMANCE_LEVEL AS PL
       ,SCORES.TEST_SCORE
FROM
       rev.EPC_STU_TEST AS StudentTest

       JOIN
       rev.EPC_TEST_PART AS PART
       ON StudentTest.TEST_GU = PART.TEST_GU

       JOIN
       rev.EPC_STU_TEST_PART AS STU_PART
       ON PART.TEST_PART_GU = STU_PART.TEST_PART_GU
       AND STU_PART.STUDENT_TEST_GU = StudentTest.STUDENT_TEST_GU

    INNER JOIN
    rev.EPC_STU_TEST_PART_SCORE AS SCORES
    ON
    SCORES.STU_TEST_PART_GU = STU_PART.STU_TEST_PART_GU

    LEFT JOIN
    rev.EPC_TEST_SCORE_TYPE AS SCORET
    ON
    SCORET.TEST_GU = StudentTest.TEST_GU
    AND SCORES.TEST_SCORE_TYPE_GU = SCORET.TEST_SCORE_TYPE_GU

    LEFT JOIN
    rev.EPC_TEST_DEF_SCORE AS SCORETDEF
    ON
    SCORETDEF.TEST_DEF_SCORE_GU = SCORET.TEST_DEF_SCORE_GU

       LEFT JOIN
       rev.EPC_TEST AS TEST
       ON TEST.TEST_GU = StudentTest.TEST_GU

       INNER JOIN
       rev.EPC_STU AS Student
       ON Student.STUDENT_GU = StudentTest.STUDENT_GU

       INNER JOIN
       rev.REV_PERSON AS Person
       ON Person.PERSON_GU = StudentTest.STUDENT_GU

       LEFT JOIN
       APS.PrimaryEnrollmentsAsOf(GETDATE()) AS Enroll
       ON
       StudentTest.STUDENT_GU = Enroll.STUDENT_GU

       LEFT JOIN
       rev.REV_ORGANIZATION_YEAR AS OrgYear
       ON
       Enroll.ORGANIZATION_YEAR_GU = OrgYear.ORGANIZATION_YEAR_GU

       LEFT JOIN
       rev.REV_ORGANIZATION AS Org
       ON
       OrgYear.ORGANIZATION_GU = Org.ORGANIZATION_GU

       LEFT JOIN
       APS.LookupTable('K12','Grade') AS GradeLevel
       ON
       Enroll.GRADE = GradeLevel.VALUE_CODE

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPYT AS TST_GRPYT
	   ON
	   TEST.TEST_GU = TST_GRPYT.TEST_GU
	   AND PART.TEST_PART_GU = TST_GRPYT.TEST_PART_GU
	   
	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPY AS TST_GRPY
	   ON 
	   TST_GRPY.GRAD_REQ_DEF_TST_GRPY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_REQ AS DEF_GRPYT
	   ON
	   DEF_GRPYT.TEST_GU = TEST.TEST_GU
	   AND DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_PL AS GRPYT_PL
	   ON GRPYT_PL.GRAD_REQ_DEF_TST_GRPTY_GU = DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU
WHERE
1 = 1
	   AND TEST_NAME LIKE 'PARCC%'
) AS T1
WHERE 1 = 1
AND SY = '2014'
AND TEST_NAME LIKE '%MATH%'
AND (TEST_NAME LIKE '%ES%' OR TEST_NAME LIKE '%MS%')
)

, PARCC_MATH_2015 AS
(
SELECT 
	SIS_NUMBER
	,TEST_NAME
	,SY
	,TEST_SCORE
	,PL	
FROM
(
SELECT 
	   ROW_NUMBER () OVER (PARTITION BY SIS_NUMBER, PART_DESCRIPTION, TEST_SCORE ORDER BY TEST_SCORE DESC) AS RN
	   ,PERSON.FIRST_NAME
       ,PERSON.LAST_NAME
       ,CAST (SIS_NUMBER AS INT) AS SIS_NUMBER
       ,TEST.TEST_NAME
	   ,PART.PART_DESCRIPTION
	   ,TEST.TEST_LEVEL
	   ,TEST.TEST_FORM
	   ,CASE WHEN ADMIN_DATE BETWEEN '2015-08-01 00:00:00' AND '2016-06-01 00:00:00' THEN '2015' 
			 WHEN ADMIN_DATE BETWEEN '2016-08-01 00:00:00' AND '2017-07-01 00:00:00' THEN '2016' 
			 WHEN ADMIN_DATE BETWEEN '2014-08-01 00:00:00' AND '2015-07-01 00:00:00' THEN '2014' 
	   END AS SY
       ,STU_PART.PERFORMANCE_LEVEL AS PL
       ,SCORES.TEST_SCORE
FROM
       rev.EPC_STU_TEST AS StudentTest

       JOIN
       rev.EPC_TEST_PART AS PART
       ON StudentTest.TEST_GU = PART.TEST_GU

       JOIN
       rev.EPC_STU_TEST_PART AS STU_PART
       ON PART.TEST_PART_GU = STU_PART.TEST_PART_GU
       AND STU_PART.STUDENT_TEST_GU = StudentTest.STUDENT_TEST_GU

    INNER JOIN
    rev.EPC_STU_TEST_PART_SCORE AS SCORES
    ON
    SCORES.STU_TEST_PART_GU = STU_PART.STU_TEST_PART_GU

    LEFT JOIN
    rev.EPC_TEST_SCORE_TYPE AS SCORET
    ON
    SCORET.TEST_GU = StudentTest.TEST_GU
    AND SCORES.TEST_SCORE_TYPE_GU = SCORET.TEST_SCORE_TYPE_GU

    LEFT JOIN
    rev.EPC_TEST_DEF_SCORE AS SCORETDEF
    ON
    SCORETDEF.TEST_DEF_SCORE_GU = SCORET.TEST_DEF_SCORE_GU

       LEFT JOIN
       rev.EPC_TEST AS TEST
       ON TEST.TEST_GU = StudentTest.TEST_GU

       INNER JOIN
       rev.EPC_STU AS Student
       ON Student.STUDENT_GU = StudentTest.STUDENT_GU

       INNER JOIN
       rev.REV_PERSON AS Person
       ON Person.PERSON_GU = StudentTest.STUDENT_GU

       LEFT JOIN
       APS.PrimaryEnrollmentsAsOf(GETDATE()) AS Enroll
       ON
       StudentTest.STUDENT_GU = Enroll.STUDENT_GU

       LEFT JOIN
       rev.REV_ORGANIZATION_YEAR AS OrgYear
       ON
       Enroll.ORGANIZATION_YEAR_GU = OrgYear.ORGANIZATION_YEAR_GU

       LEFT JOIN
       rev.REV_ORGANIZATION AS Org
       ON
       OrgYear.ORGANIZATION_GU = Org.ORGANIZATION_GU

       LEFT JOIN
       APS.LookupTable('K12','Grade') AS GradeLevel
       ON
       Enroll.GRADE = GradeLevel.VALUE_CODE

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPYT AS TST_GRPYT
	   ON
	   TEST.TEST_GU = TST_GRPYT.TEST_GU
	   AND PART.TEST_PART_GU = TST_GRPYT.TEST_PART_GU
	   
	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPY AS TST_GRPY
	   ON 
	   TST_GRPY.GRAD_REQ_DEF_TST_GRPY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_REQ AS DEF_GRPYT
	   ON
	   DEF_GRPYT.TEST_GU = TEST.TEST_GU
	   AND DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_PL AS GRPYT_PL
	   ON GRPYT_PL.GRAD_REQ_DEF_TST_GRPTY_GU = DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU
WHERE
1 = 1
	   AND TEST_NAME LIKE 'PARCC%'
) AS T1
WHERE 1 = 1
AND SY = '2015'
AND TEST_NAME LIKE '%MATH%'
AND (TEST_NAME LIKE '%ES%' OR TEST_NAME LIKE '%MS%')
--AND SIS_NUMBER = '970028142'
)

, PARCC_ELA_2015 AS
(
SELECT 
	SIS_NUMBER
	,TEST_NAME
	,SY
	,TEST_SCORE
	,PL	
FROM
(
SELECT 
	   ROW_NUMBER () OVER (PARTITION BY SIS_NUMBER, PART_DESCRIPTION, TEST_SCORE ORDER BY TEST_SCORE DESC) AS RN
	   ,PERSON.FIRST_NAME
       ,PERSON.LAST_NAME
       ,CAST (SIS_NUMBER AS INT) AS SIS_NUMBER
       ,TEST.TEST_NAME
	   ,PART.PART_DESCRIPTION
	   ,TEST.TEST_LEVEL
	   ,TEST.TEST_FORM
	   ,CASE WHEN ADMIN_DATE BETWEEN '2015-08-01 00:00:00' AND '2016-06-01 00:00:00' THEN '2015' 
			 WHEN ADMIN_DATE BETWEEN '2016-08-01 00:00:00' AND '2017-07-01 00:00:00' THEN '2016' 
			 WHEN ADMIN_DATE BETWEEN '2014-08-01 00:00:00' AND '2015-07-01 00:00:00' THEN '2014' 
	   END AS SY
       ,STU_PART.PERFORMANCE_LEVEL AS PL
       ,SCORES.TEST_SCORE
FROM
       rev.EPC_STU_TEST AS StudentTest

       JOIN
       rev.EPC_TEST_PART AS PART
       ON StudentTest.TEST_GU = PART.TEST_GU

       JOIN
       rev.EPC_STU_TEST_PART AS STU_PART
       ON PART.TEST_PART_GU = STU_PART.TEST_PART_GU
       AND STU_PART.STUDENT_TEST_GU = StudentTest.STUDENT_TEST_GU

    INNER JOIN
    rev.EPC_STU_TEST_PART_SCORE AS SCORES
    ON
    SCORES.STU_TEST_PART_GU = STU_PART.STU_TEST_PART_GU

    LEFT JOIN
    rev.EPC_TEST_SCORE_TYPE AS SCORET
    ON
    SCORET.TEST_GU = StudentTest.TEST_GU
    AND SCORES.TEST_SCORE_TYPE_GU = SCORET.TEST_SCORE_TYPE_GU

    LEFT JOIN
    rev.EPC_TEST_DEF_SCORE AS SCORETDEF
    ON
    SCORETDEF.TEST_DEF_SCORE_GU = SCORET.TEST_DEF_SCORE_GU

       LEFT JOIN
       rev.EPC_TEST AS TEST
       ON TEST.TEST_GU = StudentTest.TEST_GU

       INNER JOIN
       rev.EPC_STU AS Student
       ON Student.STUDENT_GU = StudentTest.STUDENT_GU

       INNER JOIN
       rev.REV_PERSON AS Person
       ON Person.PERSON_GU = StudentTest.STUDENT_GU

       LEFT JOIN
       APS.PrimaryEnrollmentsAsOf(GETDATE()) AS Enroll
       ON
       StudentTest.STUDENT_GU = Enroll.STUDENT_GU

       LEFT JOIN
       rev.REV_ORGANIZATION_YEAR AS OrgYear
       ON
       Enroll.ORGANIZATION_YEAR_GU = OrgYear.ORGANIZATION_YEAR_GU

       LEFT JOIN
       rev.REV_ORGANIZATION AS Org
       ON
       OrgYear.ORGANIZATION_GU = Org.ORGANIZATION_GU

       LEFT JOIN
       APS.LookupTable('K12','Grade') AS GradeLevel
       ON
       Enroll.GRADE = GradeLevel.VALUE_CODE

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPYT AS TST_GRPYT
	   ON
	   TEST.TEST_GU = TST_GRPYT.TEST_GU
	   AND PART.TEST_PART_GU = TST_GRPYT.TEST_PART_GU
	   
	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPY AS TST_GRPY
	   ON 
	   TST_GRPY.GRAD_REQ_DEF_TST_GRPY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_REQ AS DEF_GRPYT
	   ON
	   DEF_GRPYT.TEST_GU = TEST.TEST_GU
	   AND DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_PL AS GRPYT_PL
	   ON GRPYT_PL.GRAD_REQ_DEF_TST_GRPTY_GU = DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU
WHERE
1 = 1
	   AND TEST_NAME LIKE 'PARCC%'
) AS T1
WHERE 1 = 1
AND SY = '2015'
AND TEST_NAME LIKE '%ELA%'
AND (TEST_NAME LIKE '%ES%' OR TEST_NAME LIKE '%MS%')
--AND SIS_NUMBER = '970028142'
)

, PARCC_ELA_2014 AS
(
SELECT 
	SIS_NUMBER
	,TEST_NAME
	,SY
	,TEST_SCORE
	,PL	
FROM
(
SELECT 
	   ROW_NUMBER () OVER (PARTITION BY SIS_NUMBER, PART_DESCRIPTION, TEST_SCORE ORDER BY TEST_SCORE DESC) AS RN
	   ,PERSON.FIRST_NAME
       ,PERSON.LAST_NAME
       ,CAST (SIS_NUMBER AS INT) AS SIS_NUMBER
       ,TEST.TEST_NAME
	   ,PART.PART_DESCRIPTION
	   ,TEST.TEST_LEVEL
	   ,TEST.TEST_FORM
	   ,CASE WHEN ADMIN_DATE BETWEEN '2015-08-01 00:00:00' AND '2016-06-01 00:00:00' THEN '2015' 
			 WHEN ADMIN_DATE BETWEEN '2016-08-01 00:00:00' AND '2017-07-01 00:00:00' THEN '2016' 
			 WHEN ADMIN_DATE BETWEEN '2014-08-01 00:00:00' AND '2015-07-01 00:00:00' THEN '2014' 
	   END AS SY
       ,STU_PART.PERFORMANCE_LEVEL AS PL
       ,SCORES.TEST_SCORE
FROM
       rev.EPC_STU_TEST AS StudentTest

       JOIN
       rev.EPC_TEST_PART AS PART
       ON StudentTest.TEST_GU = PART.TEST_GU

       JOIN
       rev.EPC_STU_TEST_PART AS STU_PART
       ON PART.TEST_PART_GU = STU_PART.TEST_PART_GU
       AND STU_PART.STUDENT_TEST_GU = StudentTest.STUDENT_TEST_GU

    INNER JOIN
    rev.EPC_STU_TEST_PART_SCORE AS SCORES
    ON
    SCORES.STU_TEST_PART_GU = STU_PART.STU_TEST_PART_GU

    LEFT JOIN
    rev.EPC_TEST_SCORE_TYPE AS SCORET
    ON
    SCORET.TEST_GU = StudentTest.TEST_GU
    AND SCORES.TEST_SCORE_TYPE_GU = SCORET.TEST_SCORE_TYPE_GU

    LEFT JOIN
    rev.EPC_TEST_DEF_SCORE AS SCORETDEF
    ON
    SCORETDEF.TEST_DEF_SCORE_GU = SCORET.TEST_DEF_SCORE_GU

       LEFT JOIN
       rev.EPC_TEST AS TEST
       ON TEST.TEST_GU = StudentTest.TEST_GU

       INNER JOIN
       rev.EPC_STU AS Student
       ON Student.STUDENT_GU = StudentTest.STUDENT_GU

       INNER JOIN
       rev.REV_PERSON AS Person
       ON Person.PERSON_GU = StudentTest.STUDENT_GU

       LEFT JOIN
       APS.PrimaryEnrollmentsAsOf(GETDATE()) AS Enroll
       ON
       StudentTest.STUDENT_GU = Enroll.STUDENT_GU

       LEFT JOIN
       rev.REV_ORGANIZATION_YEAR AS OrgYear
       ON
       Enroll.ORGANIZATION_YEAR_GU = OrgYear.ORGANIZATION_YEAR_GU

       LEFT JOIN
       rev.REV_ORGANIZATION AS Org
       ON
       OrgYear.ORGANIZATION_GU = Org.ORGANIZATION_GU

       LEFT JOIN
       APS.LookupTable('K12','Grade') AS GradeLevel
       ON
       Enroll.GRADE = GradeLevel.VALUE_CODE

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPYT AS TST_GRPYT
	   ON
	   TEST.TEST_GU = TST_GRPYT.TEST_GU
	   AND PART.TEST_PART_GU = TST_GRPYT.TEST_PART_GU
	   
	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPY AS TST_GRPY
	   ON 
	   TST_GRPY.GRAD_REQ_DEF_TST_GRPY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_REQ AS DEF_GRPYT
	   ON
	   DEF_GRPYT.TEST_GU = TEST.TEST_GU
	   AND DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_PL AS GRPYT_PL
	   ON GRPYT_PL.GRAD_REQ_DEF_TST_GRPTY_GU = DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU
WHERE
1 = 1
	   AND TEST_NAME LIKE 'PARCC%'
) AS T1
WHERE 1 = 1
AND SY = '2014'
AND TEST_NAME LIKE '%ELA%'
AND (TEST_NAME LIKE '%ES%' OR TEST_NAME LIKE '%MS%')
--AND SIS_NUMBER = '970028142'
)

, SBA_READING_2011 AS
(
SELECT 
	SIS_NUMBER
	,TEST_NAME
	,SY
	,TEST_SCORE
	,PL	
	,ADMIN_DATE
	,PART_DESCRIPTION
FROM
(
SELECT 
	   ROW_NUMBER () OVER (PARTITION BY SIS_NUMBER, PART_DESCRIPTION, TEST_SCORE ORDER BY TEST_SCORE DESC) AS RN
	   ,PERSON.FIRST_NAME
       ,PERSON.LAST_NAME
       ,CAST (SIS_NUMBER AS INT) AS SIS_NUMBER
       ,TEST.TEST_NAME
	   ,PART.PART_DESCRIPTION
	   ,TEST.TEST_LEVEL
	   ,TEST.TEST_FORM
	   ,CASE WHEN ADMIN_DATE = '2013-04-01 00:00:00' THEN '2012' 
			 WHEN ADMIN_DATE = '2012-04-01 00:00:00' THEN '2011' 
			 WHEN ADMIN_DATE = '2011-04-01 00:00:00' THEN '2010'
			 WHEN ADMIN_DATE = '2016-04-01 00:00:00' THEN '2015'
			 WHEN ADMIN_DATE = '2014-04-01 00:00:00' THEN '2013'
			 WHEN ADMIN_DATE = '2015-04-01 00:00:00' THEN '2014'
	   END AS SY
	   ,ADMIN_DATE
       ,STU_PART.PERFORMANCE_LEVEL AS PL
       ,SCORES.TEST_SCORE
FROM
       rev.EPC_STU_TEST AS StudentTest

       JOIN
       rev.EPC_TEST_PART AS PART
       ON StudentTest.TEST_GU = PART.TEST_GU

       JOIN
       rev.EPC_STU_TEST_PART AS STU_PART
       ON PART.TEST_PART_GU = STU_PART.TEST_PART_GU
       AND STU_PART.STUDENT_TEST_GU = StudentTest.STUDENT_TEST_GU

    INNER JOIN
    rev.EPC_STU_TEST_PART_SCORE AS SCORES
    ON
    SCORES.STU_TEST_PART_GU = STU_PART.STU_TEST_PART_GU

    LEFT JOIN
    rev.EPC_TEST_SCORE_TYPE AS SCORET
    ON
    SCORET.TEST_GU = StudentTest.TEST_GU
    AND SCORES.TEST_SCORE_TYPE_GU = SCORET.TEST_SCORE_TYPE_GU

    LEFT JOIN
    rev.EPC_TEST_DEF_SCORE AS SCORETDEF
    ON
    SCORETDEF.TEST_DEF_SCORE_GU = SCORET.TEST_DEF_SCORE_GU

       LEFT JOIN
       rev.EPC_TEST AS TEST
       ON TEST.TEST_GU = StudentTest.TEST_GU

       INNER JOIN
       rev.EPC_STU AS Student
       ON Student.STUDENT_GU = StudentTest.STUDENT_GU

       INNER JOIN
       rev.REV_PERSON AS Person
       ON Person.PERSON_GU = StudentTest.STUDENT_GU

       LEFT JOIN
       APS.PrimaryEnrollmentsAsOf(GETDATE()) AS Enroll
       ON
       StudentTest.STUDENT_GU = Enroll.STUDENT_GU

       LEFT JOIN
       rev.REV_ORGANIZATION_YEAR AS OrgYear
       ON
       Enroll.ORGANIZATION_YEAR_GU = OrgYear.ORGANIZATION_YEAR_GU

       LEFT JOIN
       rev.REV_ORGANIZATION AS Org
       ON
       OrgYear.ORGANIZATION_GU = Org.ORGANIZATION_GU

       LEFT JOIN
       APS.LookupTable('K12','Grade') AS GradeLevel
       ON
       Enroll.GRADE = GradeLevel.VALUE_CODE

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPYT AS TST_GRPYT
	   ON
	   TEST.TEST_GU = TST_GRPYT.TEST_GU
	   AND PART.TEST_PART_GU = TST_GRPYT.TEST_PART_GU
	   
	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPY AS TST_GRPY
	   ON 
	   TST_GRPY.GRAD_REQ_DEF_TST_GRPY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_REQ AS DEF_GRPYT
	   ON
	   DEF_GRPYT.TEST_GU = TEST.TEST_GU
	   AND DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_PL AS GRPYT_PL
	   ON GRPYT_PL.GRAD_REQ_DEF_TST_GRPTY_GU = DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU
WHERE
1 = 1
	   AND TEST_NAME IN ('SBA ES 2011 Plus','SBA MS 2011 Plus')
	   AND SCORE_DESCRIPTION = 'SCALE'
	   AND PART_DESCRIPTION IN ('MATH','READING')
) AS T1
WHERE 1 = 1
--AND SIS_NUMBER = '970028142'
AND SY = '2011'
AND PART_DESCRIPTION = 'READING'
)

, SBA_MATH_2011 AS
(
SELECT 
	SIS_NUMBER
	,TEST_NAME
	,SY
	,TEST_SCORE
	,PL	
	,ADMIN_DATE
	,PART_DESCRIPTION
FROM
(
SELECT 
	   ROW_NUMBER () OVER (PARTITION BY SIS_NUMBER, PART_DESCRIPTION, TEST_SCORE ORDER BY TEST_SCORE DESC) AS RN
	   ,PERSON.FIRST_NAME
       ,PERSON.LAST_NAME
       ,CAST (SIS_NUMBER AS INT) AS SIS_NUMBER
       ,TEST.TEST_NAME
	   ,PART.PART_DESCRIPTION
	   ,TEST.TEST_LEVEL
	   ,TEST.TEST_FORM
	   ,CASE WHEN ADMIN_DATE = '2013-04-01 00:00:00' THEN '2012' 
			 WHEN ADMIN_DATE = '2012-04-01 00:00:00' THEN '2011' 
			 WHEN ADMIN_DATE = '2011-04-01 00:00:00' THEN '2010'
			 WHEN ADMIN_DATE = '2016-04-01 00:00:00' THEN '2015'
			 WHEN ADMIN_DATE = '2014-04-01 00:00:00' THEN '2013'
			 WHEN ADMIN_DATE = '2015-04-01 00:00:00' THEN '2014'
	   END AS SY
	   ,ADMIN_DATE
       ,STU_PART.PERFORMANCE_LEVEL AS PL
       ,SCORES.TEST_SCORE
FROM
       rev.EPC_STU_TEST AS StudentTest

       JOIN
       rev.EPC_TEST_PART AS PART
       ON StudentTest.TEST_GU = PART.TEST_GU

       JOIN
       rev.EPC_STU_TEST_PART AS STU_PART
       ON PART.TEST_PART_GU = STU_PART.TEST_PART_GU
       AND STU_PART.STUDENT_TEST_GU = StudentTest.STUDENT_TEST_GU

    INNER JOIN
    rev.EPC_STU_TEST_PART_SCORE AS SCORES
    ON
    SCORES.STU_TEST_PART_GU = STU_PART.STU_TEST_PART_GU

    LEFT JOIN
    rev.EPC_TEST_SCORE_TYPE AS SCORET
    ON
    SCORET.TEST_GU = StudentTest.TEST_GU
    AND SCORES.TEST_SCORE_TYPE_GU = SCORET.TEST_SCORE_TYPE_GU

    LEFT JOIN
    rev.EPC_TEST_DEF_SCORE AS SCORETDEF
    ON
    SCORETDEF.TEST_DEF_SCORE_GU = SCORET.TEST_DEF_SCORE_GU

       LEFT JOIN
       rev.EPC_TEST AS TEST
       ON TEST.TEST_GU = StudentTest.TEST_GU

       INNER JOIN
       rev.EPC_STU AS Student
       ON Student.STUDENT_GU = StudentTest.STUDENT_GU

       INNER JOIN
       rev.REV_PERSON AS Person
       ON Person.PERSON_GU = StudentTest.STUDENT_GU

       LEFT JOIN
       APS.PrimaryEnrollmentsAsOf(GETDATE()) AS Enroll
       ON
       StudentTest.STUDENT_GU = Enroll.STUDENT_GU

       LEFT JOIN
       rev.REV_ORGANIZATION_YEAR AS OrgYear
       ON
       Enroll.ORGANIZATION_YEAR_GU = OrgYear.ORGANIZATION_YEAR_GU

       LEFT JOIN
       rev.REV_ORGANIZATION AS Org
       ON
       OrgYear.ORGANIZATION_GU = Org.ORGANIZATION_GU

       LEFT JOIN
       APS.LookupTable('K12','Grade') AS GradeLevel
       ON
       Enroll.GRADE = GradeLevel.VALUE_CODE

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPYT AS TST_GRPYT
	   ON
	   TEST.TEST_GU = TST_GRPYT.TEST_GU
	   AND PART.TEST_PART_GU = TST_GRPYT.TEST_PART_GU
	   
	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPY AS TST_GRPY
	   ON 
	   TST_GRPY.GRAD_REQ_DEF_TST_GRPY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_REQ AS DEF_GRPYT
	   ON
	   DEF_GRPYT.TEST_GU = TEST.TEST_GU
	   AND DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_PL AS GRPYT_PL
	   ON GRPYT_PL.GRAD_REQ_DEF_TST_GRPTY_GU = DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU
WHERE
1 = 1
	   AND TEST_NAME IN ('SBA ES 2011 Plus','SBA MS 2011 Plus')
	   AND SCORE_DESCRIPTION = 'SCALE'
	   AND PART_DESCRIPTION IN ('MATH','READING')
) AS T1
WHERE 1 = 1
--AND SIS_NUMBER = '970028142'
AND SY = '2011'
AND PART_DESCRIPTION = 'MATH'
)

, SBA_READING_2012 AS
(
SELECT 
	SIS_NUMBER
	,TEST_NAME
	,SY
	,TEST_SCORE
	,PL	
	,ADMIN_DATE
	,PART_DESCRIPTION
FROM
(
SELECT 
	   ROW_NUMBER () OVER (PARTITION BY SIS_NUMBER, PART_DESCRIPTION, TEST_SCORE ORDER BY TEST_SCORE DESC) AS RN
	   ,PERSON.FIRST_NAME
       ,PERSON.LAST_NAME
       ,CAST (SIS_NUMBER AS INT) AS SIS_NUMBER
       ,TEST.TEST_NAME
	   ,PART.PART_DESCRIPTION
	   ,TEST.TEST_LEVEL
	   ,TEST.TEST_FORM
	   ,CASE WHEN ADMIN_DATE = '2013-04-01 00:00:00' THEN '2012' 
			 WHEN ADMIN_DATE = '2012-04-01 00:00:00' THEN '2011' 
			 WHEN ADMIN_DATE = '2011-04-01 00:00:00' THEN '2010'
			 WHEN ADMIN_DATE = '2016-04-01 00:00:00' THEN '2015'
			 WHEN ADMIN_DATE = '2014-04-01 00:00:00' THEN '2013'
			 WHEN ADMIN_DATE = '2015-04-01 00:00:00' THEN '2014'
	   END AS SY
	   ,ADMIN_DATE
       ,STU_PART.PERFORMANCE_LEVEL AS PL
       ,SCORES.TEST_SCORE
FROM
       rev.EPC_STU_TEST AS StudentTest

       JOIN
       rev.EPC_TEST_PART AS PART
       ON StudentTest.TEST_GU = PART.TEST_GU

       JOIN
       rev.EPC_STU_TEST_PART AS STU_PART
       ON PART.TEST_PART_GU = STU_PART.TEST_PART_GU
       AND STU_PART.STUDENT_TEST_GU = StudentTest.STUDENT_TEST_GU

    INNER JOIN
    rev.EPC_STU_TEST_PART_SCORE AS SCORES
    ON
    SCORES.STU_TEST_PART_GU = STU_PART.STU_TEST_PART_GU

    LEFT JOIN
    rev.EPC_TEST_SCORE_TYPE AS SCORET
    ON
    SCORET.TEST_GU = StudentTest.TEST_GU
    AND SCORES.TEST_SCORE_TYPE_GU = SCORET.TEST_SCORE_TYPE_GU

    LEFT JOIN
    rev.EPC_TEST_DEF_SCORE AS SCORETDEF
    ON
    SCORETDEF.TEST_DEF_SCORE_GU = SCORET.TEST_DEF_SCORE_GU

       LEFT JOIN
       rev.EPC_TEST AS TEST
       ON TEST.TEST_GU = StudentTest.TEST_GU

       INNER JOIN
       rev.EPC_STU AS Student
       ON Student.STUDENT_GU = StudentTest.STUDENT_GU

       INNER JOIN
       rev.REV_PERSON AS Person
       ON Person.PERSON_GU = StudentTest.STUDENT_GU

       LEFT JOIN
       APS.PrimaryEnrollmentsAsOf(GETDATE()) AS Enroll
       ON
       StudentTest.STUDENT_GU = Enroll.STUDENT_GU

       LEFT JOIN
       rev.REV_ORGANIZATION_YEAR AS OrgYear
       ON
       Enroll.ORGANIZATION_YEAR_GU = OrgYear.ORGANIZATION_YEAR_GU

       LEFT JOIN
       rev.REV_ORGANIZATION AS Org
       ON
       OrgYear.ORGANIZATION_GU = Org.ORGANIZATION_GU

       LEFT JOIN
       APS.LookupTable('K12','Grade') AS GradeLevel
       ON
       Enroll.GRADE = GradeLevel.VALUE_CODE

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPYT AS TST_GRPYT
	   ON
	   TEST.TEST_GU = TST_GRPYT.TEST_GU
	   AND PART.TEST_PART_GU = TST_GRPYT.TEST_PART_GU
	   
	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPY AS TST_GRPY
	   ON 
	   TST_GRPY.GRAD_REQ_DEF_TST_GRPY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_REQ AS DEF_GRPYT
	   ON
	   DEF_GRPYT.TEST_GU = TEST.TEST_GU
	   AND DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_PL AS GRPYT_PL
	   ON GRPYT_PL.GRAD_REQ_DEF_TST_GRPTY_GU = DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU
WHERE
1 = 1
	   AND TEST_NAME IN ('SBA ES 2011 Plus','SBA MS 2011 Plus')
	   AND SCORE_DESCRIPTION = 'SCALE'
	   AND PART_DESCRIPTION IN ('MATH','READING')
) AS T1
WHERE 1 = 1
--AND SIS_NUMBER = '970028142'
AND SY = '2012'
AND PART_DESCRIPTION = 'READING'
)

, SBA_MATH_2012 AS
(
SELECT 
	SIS_NUMBER
	,TEST_NAME
	,SY
	,TEST_SCORE
	,PL	
	,ADMIN_DATE
	,PART_DESCRIPTION
FROM
(
SELECT 
	   ROW_NUMBER () OVER (PARTITION BY SIS_NUMBER, PART_DESCRIPTION, TEST_SCORE ORDER BY TEST_SCORE DESC) AS RN
	   ,PERSON.FIRST_NAME
       ,PERSON.LAST_NAME
       ,CAST (SIS_NUMBER AS INT) AS SIS_NUMBER
       ,TEST.TEST_NAME
	   ,PART.PART_DESCRIPTION
	   ,TEST.TEST_LEVEL
	   ,TEST.TEST_FORM
	   ,CASE WHEN ADMIN_DATE = '2013-04-01 00:00:00' THEN '2012' 
			 WHEN ADMIN_DATE = '2012-04-01 00:00:00' THEN '2011' 
			 WHEN ADMIN_DATE = '2011-04-01 00:00:00' THEN '2010'
			 WHEN ADMIN_DATE = '2016-04-01 00:00:00' THEN '2015'
			 WHEN ADMIN_DATE = '2014-04-01 00:00:00' THEN '2013'
			 WHEN ADMIN_DATE = '2015-04-01 00:00:00' THEN '2014'
	   END AS SY
	   ,ADMIN_DATE
       ,STU_PART.PERFORMANCE_LEVEL AS PL
       ,SCORES.TEST_SCORE
FROM
       rev.EPC_STU_TEST AS StudentTest

       JOIN
       rev.EPC_TEST_PART AS PART
       ON StudentTest.TEST_GU = PART.TEST_GU

       JOIN
       rev.EPC_STU_TEST_PART AS STU_PART
       ON PART.TEST_PART_GU = STU_PART.TEST_PART_GU
       AND STU_PART.STUDENT_TEST_GU = StudentTest.STUDENT_TEST_GU

    INNER JOIN
    rev.EPC_STU_TEST_PART_SCORE AS SCORES
    ON
    SCORES.STU_TEST_PART_GU = STU_PART.STU_TEST_PART_GU

    LEFT JOIN
    rev.EPC_TEST_SCORE_TYPE AS SCORET
    ON
    SCORET.TEST_GU = StudentTest.TEST_GU
    AND SCORES.TEST_SCORE_TYPE_GU = SCORET.TEST_SCORE_TYPE_GU

    LEFT JOIN
    rev.EPC_TEST_DEF_SCORE AS SCORETDEF
    ON
    SCORETDEF.TEST_DEF_SCORE_GU = SCORET.TEST_DEF_SCORE_GU

       LEFT JOIN
       rev.EPC_TEST AS TEST
       ON TEST.TEST_GU = StudentTest.TEST_GU

       INNER JOIN
       rev.EPC_STU AS Student
       ON Student.STUDENT_GU = StudentTest.STUDENT_GU

       INNER JOIN
       rev.REV_PERSON AS Person
       ON Person.PERSON_GU = StudentTest.STUDENT_GU

       LEFT JOIN
       APS.PrimaryEnrollmentsAsOf(GETDATE()) AS Enroll
       ON
       StudentTest.STUDENT_GU = Enroll.STUDENT_GU

       LEFT JOIN
       rev.REV_ORGANIZATION_YEAR AS OrgYear
       ON
       Enroll.ORGANIZATION_YEAR_GU = OrgYear.ORGANIZATION_YEAR_GU

       LEFT JOIN
       rev.REV_ORGANIZATION AS Org
       ON
       OrgYear.ORGANIZATION_GU = Org.ORGANIZATION_GU

       LEFT JOIN
       APS.LookupTable('K12','Grade') AS GradeLevel
       ON
       Enroll.GRADE = GradeLevel.VALUE_CODE

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPYT AS TST_GRPYT
	   ON
	   TEST.TEST_GU = TST_GRPYT.TEST_GU
	   AND PART.TEST_PART_GU = TST_GRPYT.TEST_PART_GU
	   
	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPY AS TST_GRPY
	   ON 
	   TST_GRPY.GRAD_REQ_DEF_TST_GRPY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_REQ AS DEF_GRPYT
	   ON
	   DEF_GRPYT.TEST_GU = TEST.TEST_GU
	   AND DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_PL AS GRPYT_PL
	   ON GRPYT_PL.GRAD_REQ_DEF_TST_GRPTY_GU = DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU
WHERE
1 = 1
	   AND TEST_NAME IN ('SBA ES 2011 Plus','SBA MS 2011 Plus')
	   AND SCORE_DESCRIPTION = 'SCALE'
	   AND PART_DESCRIPTION IN ('MATH','READING')
) AS T1
WHERE 1 = 1
--AND SIS_NUMBER = '970028142'
AND SY = '2012'
AND PART_DESCRIPTION = 'MATH'
)


, SBA_READING_2013 AS
(
SELECT 
	SIS_NUMBER
	,TEST_NAME
	,SY
	,TEST_SCORE
	,PL	
	,ADMIN_DATE
	,PART_DESCRIPTION
FROM
(
SELECT 
	   ROW_NUMBER () OVER (PARTITION BY SIS_NUMBER, PART_DESCRIPTION, TEST_SCORE ORDER BY TEST_SCORE DESC) AS RN
	   ,PERSON.FIRST_NAME
       ,PERSON.LAST_NAME
       ,CAST (SIS_NUMBER AS INT) AS SIS_NUMBER
       ,TEST.TEST_NAME
	   ,PART.PART_DESCRIPTION
	   ,TEST.TEST_LEVEL
	   ,TEST.TEST_FORM
	   ,CASE WHEN ADMIN_DATE = '2013-04-01 00:00:00' THEN '2012' 
			 WHEN ADMIN_DATE = '2012-04-01 00:00:00' THEN '2011' 
			 WHEN ADMIN_DATE = '2011-04-01 00:00:00' THEN '2010'
			 WHEN ADMIN_DATE = '2016-04-01 00:00:00' THEN '2015'
			 WHEN ADMIN_DATE = '2014-04-01 00:00:00' THEN '2013'
			 WHEN ADMIN_DATE = '2015-04-01 00:00:00' THEN '2014'
	   END AS SY
	   ,ADMIN_DATE
       ,STU_PART.PERFORMANCE_LEVEL AS PL
       ,SCORES.TEST_SCORE
FROM
       rev.EPC_STU_TEST AS StudentTest

       JOIN
       rev.EPC_TEST_PART AS PART
       ON StudentTest.TEST_GU = PART.TEST_GU

       JOIN
       rev.EPC_STU_TEST_PART AS STU_PART
       ON PART.TEST_PART_GU = STU_PART.TEST_PART_GU
       AND STU_PART.STUDENT_TEST_GU = StudentTest.STUDENT_TEST_GU

    INNER JOIN
    rev.EPC_STU_TEST_PART_SCORE AS SCORES
    ON
    SCORES.STU_TEST_PART_GU = STU_PART.STU_TEST_PART_GU

    LEFT JOIN
    rev.EPC_TEST_SCORE_TYPE AS SCORET
    ON
    SCORET.TEST_GU = StudentTest.TEST_GU
    AND SCORES.TEST_SCORE_TYPE_GU = SCORET.TEST_SCORE_TYPE_GU

    LEFT JOIN
    rev.EPC_TEST_DEF_SCORE AS SCORETDEF
    ON
    SCORETDEF.TEST_DEF_SCORE_GU = SCORET.TEST_DEF_SCORE_GU

       LEFT JOIN
       rev.EPC_TEST AS TEST
       ON TEST.TEST_GU = StudentTest.TEST_GU

       INNER JOIN
       rev.EPC_STU AS Student
       ON Student.STUDENT_GU = StudentTest.STUDENT_GU

       INNER JOIN
       rev.REV_PERSON AS Person
       ON Person.PERSON_GU = StudentTest.STUDENT_GU

       LEFT JOIN
       APS.PrimaryEnrollmentsAsOf(GETDATE()) AS Enroll
       ON
       StudentTest.STUDENT_GU = Enroll.STUDENT_GU

       LEFT JOIN
       rev.REV_ORGANIZATION_YEAR AS OrgYear
       ON
       Enroll.ORGANIZATION_YEAR_GU = OrgYear.ORGANIZATION_YEAR_GU

       LEFT JOIN
       rev.REV_ORGANIZATION AS Org
       ON
       OrgYear.ORGANIZATION_GU = Org.ORGANIZATION_GU

       LEFT JOIN
       APS.LookupTable('K12','Grade') AS GradeLevel
       ON
       Enroll.GRADE = GradeLevel.VALUE_CODE

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPYT AS TST_GRPYT
	   ON
	   TEST.TEST_GU = TST_GRPYT.TEST_GU
	   AND PART.TEST_PART_GU = TST_GRPYT.TEST_PART_GU
	   
	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPY AS TST_GRPY
	   ON 
	   TST_GRPY.GRAD_REQ_DEF_TST_GRPY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_REQ AS DEF_GRPYT
	   ON
	   DEF_GRPYT.TEST_GU = TEST.TEST_GU
	   AND DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_PL AS GRPYT_PL
	   ON GRPYT_PL.GRAD_REQ_DEF_TST_GRPTY_GU = DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU
WHERE
1 = 1
	   AND TEST_NAME IN ('SBA ES 2011 Plus','SBA MS 2011 Plus')
	   AND SCORE_DESCRIPTION = 'SCALE'
	   AND PART_DESCRIPTION IN ('MATH','READING')
) AS T1
WHERE 1 = 1
--AND SIS_NUMBER = '970028142'
AND SY = '2013'
AND PART_DESCRIPTION = 'READING'
)

, SBA_MATH_2013 AS
(
SELECT 
	SIS_NUMBER
	,TEST_NAME
	,SY
	,TEST_SCORE
	,PL	
	,ADMIN_DATE
	,PART_DESCRIPTION
FROM
(
SELECT 
	   ROW_NUMBER () OVER (PARTITION BY SIS_NUMBER, PART_DESCRIPTION, TEST_SCORE ORDER BY TEST_SCORE DESC) AS RN
	   ,PERSON.FIRST_NAME
       ,PERSON.LAST_NAME
       ,CAST (SIS_NUMBER AS INT) AS SIS_NUMBER
       ,TEST.TEST_NAME
	   ,PART.PART_DESCRIPTION
	   ,TEST.TEST_LEVEL
	   ,TEST.TEST_FORM
	   ,CASE WHEN ADMIN_DATE = '2013-04-01 00:00:00' THEN '2012' 
			 WHEN ADMIN_DATE = '2012-04-01 00:00:00' THEN '2011' 
			 WHEN ADMIN_DATE = '2011-04-01 00:00:00' THEN '2010'
			 WHEN ADMIN_DATE = '2016-04-01 00:00:00' THEN '2015'
			 WHEN ADMIN_DATE = '2014-04-01 00:00:00' THEN '2013'
			 WHEN ADMIN_DATE = '2015-04-01 00:00:00' THEN '2014'
	   END AS SY
	   ,ADMIN_DATE
       ,STU_PART.PERFORMANCE_LEVEL AS PL
       ,SCORES.TEST_SCORE
FROM
       rev.EPC_STU_TEST AS StudentTest

       JOIN
       rev.EPC_TEST_PART AS PART
       ON StudentTest.TEST_GU = PART.TEST_GU

       JOIN
       rev.EPC_STU_TEST_PART AS STU_PART
       ON PART.TEST_PART_GU = STU_PART.TEST_PART_GU
       AND STU_PART.STUDENT_TEST_GU = StudentTest.STUDENT_TEST_GU

    INNER JOIN
    rev.EPC_STU_TEST_PART_SCORE AS SCORES
    ON
    SCORES.STU_TEST_PART_GU = STU_PART.STU_TEST_PART_GU

    LEFT JOIN
    rev.EPC_TEST_SCORE_TYPE AS SCORET
    ON
    SCORET.TEST_GU = StudentTest.TEST_GU
    AND SCORES.TEST_SCORE_TYPE_GU = SCORET.TEST_SCORE_TYPE_GU

    LEFT JOIN
    rev.EPC_TEST_DEF_SCORE AS SCORETDEF
    ON
    SCORETDEF.TEST_DEF_SCORE_GU = SCORET.TEST_DEF_SCORE_GU

       LEFT JOIN
       rev.EPC_TEST AS TEST
       ON TEST.TEST_GU = StudentTest.TEST_GU

       INNER JOIN
       rev.EPC_STU AS Student
       ON Student.STUDENT_GU = StudentTest.STUDENT_GU

       INNER JOIN
       rev.REV_PERSON AS Person
       ON Person.PERSON_GU = StudentTest.STUDENT_GU

       LEFT JOIN
       APS.PrimaryEnrollmentsAsOf(GETDATE()) AS Enroll
       ON
       StudentTest.STUDENT_GU = Enroll.STUDENT_GU

       LEFT JOIN
       rev.REV_ORGANIZATION_YEAR AS OrgYear
       ON
       Enroll.ORGANIZATION_YEAR_GU = OrgYear.ORGANIZATION_YEAR_GU

       LEFT JOIN
       rev.REV_ORGANIZATION AS Org
       ON
       OrgYear.ORGANIZATION_GU = Org.ORGANIZATION_GU

       LEFT JOIN
       APS.LookupTable('K12','Grade') AS GradeLevel
       ON
       Enroll.GRADE = GradeLevel.VALUE_CODE

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPYT AS TST_GRPYT
	   ON
	   TEST.TEST_GU = TST_GRPYT.TEST_GU
	   AND PART.TEST_PART_GU = TST_GRPYT.TEST_PART_GU
	   
	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPY AS TST_GRPY
	   ON 
	   TST_GRPY.GRAD_REQ_DEF_TST_GRPY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_REQ AS DEF_GRPYT
	   ON
	   DEF_GRPYT.TEST_GU = TEST.TEST_GU
	   AND DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_PL AS GRPYT_PL
	   ON GRPYT_PL.GRAD_REQ_DEF_TST_GRPTY_GU = DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU
WHERE
1 = 1
	   AND TEST_NAME IN ('SBA ES 2011 Plus','SBA MS 2011 Plus')
	   AND SCORE_DESCRIPTION = 'SCALE'
	   AND PART_DESCRIPTION IN ('MATH','READING')
) AS T1
WHERE 1 = 1
--AND SIS_NUMBER = '970028142'
AND SY = '2013'
AND PART_DESCRIPTION = 'MATH'
)

, SBA_READING_2014 AS
(
SELECT 
	SIS_NUMBER
	,TEST_NAME
	,SY
	,TEST_SCORE
	,PL	
	,ADMIN_DATE
	,PART_DESCRIPTION
FROM
(
SELECT 
	   ROW_NUMBER () OVER (PARTITION BY SIS_NUMBER, PART_DESCRIPTION, TEST_SCORE ORDER BY TEST_SCORE DESC) AS RN
	   ,PERSON.FIRST_NAME
       ,PERSON.LAST_NAME
       ,CAST (SIS_NUMBER AS INT) AS SIS_NUMBER
       ,TEST.TEST_NAME
	   ,PART.PART_DESCRIPTION
	   ,TEST.TEST_LEVEL
	   ,TEST.TEST_FORM
	   ,CASE WHEN ADMIN_DATE = '2013-04-01 00:00:00' THEN '2012' 
			 WHEN ADMIN_DATE = '2012-04-01 00:00:00' THEN '2011' 
			 WHEN ADMIN_DATE = '2011-04-01 00:00:00' THEN '2010'
			 WHEN ADMIN_DATE = '2016-04-01 00:00:00' THEN '2015'
			 WHEN ADMIN_DATE = '2014-04-01 00:00:00' THEN '2013'
			 WHEN ADMIN_DATE = '2015-04-01 00:00:00' THEN '2014'
	   END AS SY
	   ,ADMIN_DATE
       ,STU_PART.PERFORMANCE_LEVEL AS PL
       ,SCORES.TEST_SCORE
FROM
       rev.EPC_STU_TEST AS StudentTest

       JOIN
       rev.EPC_TEST_PART AS PART
       ON StudentTest.TEST_GU = PART.TEST_GU

       JOIN
       rev.EPC_STU_TEST_PART AS STU_PART
       ON PART.TEST_PART_GU = STU_PART.TEST_PART_GU
       AND STU_PART.STUDENT_TEST_GU = StudentTest.STUDENT_TEST_GU

    INNER JOIN
    rev.EPC_STU_TEST_PART_SCORE AS SCORES
    ON
    SCORES.STU_TEST_PART_GU = STU_PART.STU_TEST_PART_GU

    LEFT JOIN
    rev.EPC_TEST_SCORE_TYPE AS SCORET
    ON
    SCORET.TEST_GU = StudentTest.TEST_GU
    AND SCORES.TEST_SCORE_TYPE_GU = SCORET.TEST_SCORE_TYPE_GU

    LEFT JOIN
    rev.EPC_TEST_DEF_SCORE AS SCORETDEF
    ON
    SCORETDEF.TEST_DEF_SCORE_GU = SCORET.TEST_DEF_SCORE_GU

       LEFT JOIN
       rev.EPC_TEST AS TEST
       ON TEST.TEST_GU = StudentTest.TEST_GU

       INNER JOIN
       rev.EPC_STU AS Student
       ON Student.STUDENT_GU = StudentTest.STUDENT_GU

       INNER JOIN
       rev.REV_PERSON AS Person
       ON Person.PERSON_GU = StudentTest.STUDENT_GU

       LEFT JOIN
       APS.PrimaryEnrollmentsAsOf(GETDATE()) AS Enroll
       ON
       StudentTest.STUDENT_GU = Enroll.STUDENT_GU

       LEFT JOIN
       rev.REV_ORGANIZATION_YEAR AS OrgYear
       ON
       Enroll.ORGANIZATION_YEAR_GU = OrgYear.ORGANIZATION_YEAR_GU

       LEFT JOIN
       rev.REV_ORGANIZATION AS Org
       ON
       OrgYear.ORGANIZATION_GU = Org.ORGANIZATION_GU

       LEFT JOIN
       APS.LookupTable('K12','Grade') AS GradeLevel
       ON
       Enroll.GRADE = GradeLevel.VALUE_CODE

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPYT AS TST_GRPYT
	   ON
	   TEST.TEST_GU = TST_GRPYT.TEST_GU
	   AND PART.TEST_PART_GU = TST_GRPYT.TEST_PART_GU
	   
	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPY AS TST_GRPY
	   ON 
	   TST_GRPY.GRAD_REQ_DEF_TST_GRPY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_REQ AS DEF_GRPYT
	   ON
	   DEF_GRPYT.TEST_GU = TEST.TEST_GU
	   AND DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_PL AS GRPYT_PL
	   ON GRPYT_PL.GRAD_REQ_DEF_TST_GRPTY_GU = DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU
WHERE
1 = 1
	   AND TEST_NAME IN ('SBA ES 2011 Plus','SBA MS 2011 Plus')
	   AND SCORE_DESCRIPTION = 'SCALE'
	   AND PART_DESCRIPTION IN ('MATH','READING')
) AS T1
WHERE 1 = 1
--AND SIS_NUMBER = '970028142'
AND SY = '2014'
AND PART_DESCRIPTION = 'READING'
)

, SBA_MATH_2014 AS
(
SELECT 
	SIS_NUMBER
	,TEST_NAME
	,SY
	,TEST_SCORE
	,PL	
	,ADMIN_DATE
	,PART_DESCRIPTION
FROM
(
SELECT 
	   ROW_NUMBER () OVER (PARTITION BY SIS_NUMBER, PART_DESCRIPTION, TEST_SCORE ORDER BY TEST_SCORE DESC) AS RN
	   ,PERSON.FIRST_NAME
       ,PERSON.LAST_NAME
       ,CAST (SIS_NUMBER AS INT) AS SIS_NUMBER
       ,TEST.TEST_NAME
	   ,PART.PART_DESCRIPTION
	   ,TEST.TEST_LEVEL
	   ,TEST.TEST_FORM
	   ,CASE WHEN ADMIN_DATE = '2013-04-01 00:00:00' THEN '2012' 
			 WHEN ADMIN_DATE = '2012-04-01 00:00:00' THEN '2011' 
			 WHEN ADMIN_DATE = '2011-04-01 00:00:00' THEN '2010'
			 WHEN ADMIN_DATE = '2016-04-01 00:00:00' THEN '2015'
			 WHEN ADMIN_DATE = '2014-04-01 00:00:00' THEN '2013'
			 WHEN ADMIN_DATE = '2015-04-01 00:00:00' THEN '2014'
	   END AS SY
	   ,ADMIN_DATE
       ,STU_PART.PERFORMANCE_LEVEL AS PL
       ,SCORES.TEST_SCORE
FROM
       rev.EPC_STU_TEST AS StudentTest

       JOIN
       rev.EPC_TEST_PART AS PART
       ON StudentTest.TEST_GU = PART.TEST_GU

       JOIN
       rev.EPC_STU_TEST_PART AS STU_PART
       ON PART.TEST_PART_GU = STU_PART.TEST_PART_GU
       AND STU_PART.STUDENT_TEST_GU = StudentTest.STUDENT_TEST_GU

    INNER JOIN
    rev.EPC_STU_TEST_PART_SCORE AS SCORES
    ON
    SCORES.STU_TEST_PART_GU = STU_PART.STU_TEST_PART_GU

    LEFT JOIN
    rev.EPC_TEST_SCORE_TYPE AS SCORET
    ON
    SCORET.TEST_GU = StudentTest.TEST_GU
    AND SCORES.TEST_SCORE_TYPE_GU = SCORET.TEST_SCORE_TYPE_GU

    LEFT JOIN
    rev.EPC_TEST_DEF_SCORE AS SCORETDEF
    ON
    SCORETDEF.TEST_DEF_SCORE_GU = SCORET.TEST_DEF_SCORE_GU

       LEFT JOIN
       rev.EPC_TEST AS TEST
       ON TEST.TEST_GU = StudentTest.TEST_GU

       INNER JOIN
       rev.EPC_STU AS Student
       ON Student.STUDENT_GU = StudentTest.STUDENT_GU

       INNER JOIN
       rev.REV_PERSON AS Person
       ON Person.PERSON_GU = StudentTest.STUDENT_GU

       LEFT JOIN
       APS.PrimaryEnrollmentsAsOf(GETDATE()) AS Enroll
       ON
       StudentTest.STUDENT_GU = Enroll.STUDENT_GU

       LEFT JOIN
       rev.REV_ORGANIZATION_YEAR AS OrgYear
       ON
       Enroll.ORGANIZATION_YEAR_GU = OrgYear.ORGANIZATION_YEAR_GU

       LEFT JOIN
       rev.REV_ORGANIZATION AS Org
       ON
       OrgYear.ORGANIZATION_GU = Org.ORGANIZATION_GU

       LEFT JOIN
       APS.LookupTable('K12','Grade') AS GradeLevel
       ON
       Enroll.GRADE = GradeLevel.VALUE_CODE

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPYT AS TST_GRPYT
	   ON
	   TEST.TEST_GU = TST_GRPYT.TEST_GU
	   AND PART.TEST_PART_GU = TST_GRPYT.TEST_PART_GU
	   
	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_TST_GRPY AS TST_GRPY
	   ON 
	   TST_GRPY.GRAD_REQ_DEF_TST_GRPY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_REQ AS DEF_GRPYT
	   ON
	   DEF_GRPYT.TEST_GU = TEST.TEST_GU
	   AND DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU = TST_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU

	   LEFT JOIN
	   REV.EPC_GRAD_REQ_DEF_GRPYT_PL AS GRPYT_PL
	   ON GRPYT_PL.GRAD_REQ_DEF_TST_GRPTY_GU = DEF_GRPYT.GRAD_REQ_DEF_TST_GRPTY_GU
WHERE
1 = 1
	   AND TEST_NAME IN ('SBA ES 2011 Plus','SBA MS 2011 Plus')
	   AND SCORE_DESCRIPTION = 'SCALE'
	   AND PART_DESCRIPTION IN ('MATH','READING')
) AS T1
WHERE 1 = 1
--AND SIS_NUMBER = '970028142'
AND SY = '2014'
AND PART_DESCRIPTION = 'MATH'
)

, ACCESS_SCALE AS
(
SELECT
	STUDENT_ID
	,[2009] AS 'ACCESS SCALE 2009-2010'
	,[2010] AS 'ACCESS SCALE 2010-2011'
	,[2011] AS 'ACCESS SCALE 2011-2012'
	,[2012] AS 'ACCESS SCALE 2012-2013'
	,[2013] AS 'ACCESS SCALE 2013-2014'
	,[2014] AS 'ACCESS SCALE 2014-2015'
FROM
(
SELECT
       CAST (SIS_NUMBER AS INT) AS STUDENT_ID
	   --,SCORE_DESCRIPTION
	   ,CASE WHEN DATENAME(month, admin_date) IN ('AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER') THEN CAST(LEFT(CONVERT(VARCHAR ,ADMIN_DATE,121),4) AS INT) ELSE CAST(LEFT(CONVERT(VARCHAR ,ADMIN_DATE,121),4) AS INT)-1 END  AS SY
       ,SCORES.TEST_SCORE
	   --,TEST_NAME
	   --,PERFORMANCE_LEVEL
FROM
       rev.EPC_STU_TEST AS StudentTest

       JOIN
       rev.EPC_TEST_PART AS PART
       ON StudentTest.TEST_GU = PART.TEST_GU

       JOIN
       rev.EPC_STU_TEST_PART AS STU_PART
       ON PART.TEST_PART_GU = STU_PART.TEST_PART_GU
       AND STU_PART.STUDENT_TEST_GU = StudentTest.STUDENT_TEST_GU

    INNER JOIN
    rev.EPC_STU_TEST_PART_SCORE AS SCORES
    ON
    SCORES.STU_TEST_PART_GU = STU_PART.STU_TEST_PART_GU

    LEFT JOIN
    rev.EPC_TEST_SCORE_TYPE AS SCORET
    ON
    SCORET.TEST_GU = StudentTest.TEST_GU
    AND SCORES.TEST_SCORE_TYPE_GU = SCORET.TEST_SCORE_TYPE_GU

    LEFT JOIN
    rev.EPC_TEST_DEF_SCORE AS SCORETDEF
    ON
    SCORETDEF.TEST_DEF_SCORE_GU = SCORET.TEST_DEF_SCORE_GU

       LEFT JOIN
       rev.EPC_TEST AS TEST
       ON TEST.TEST_GU = StudentTest.TEST_GU

       INNER JOIN
       rev.EPC_STU AS Student
       ON Student.STUDENT_GU = StudentTest.STUDENT_GU

       INNER JOIN
       rev.REV_PERSON AS Person
       ON Person.PERSON_GU = StudentTest.STUDENT_GU
WHERE
1 = 1
AND TEST_NAME = 'ACCESS'
AND SCORE_DESCRIPTION = 'SCALE'
)AS LAS_LINKS

PIVOT
	(MAX([TEST_SCORE]) FOR SY IN ([2009],[2010],[2011],[2012],[2013],[2014])) AS UP1
)
,ACCESS_PL AS
(
SELECT
	STUDENT_ID
	,[2009] AS 'ACCESS PL 2009-2010'
	,[2010] AS 'ACCESS PL 2010-2011'
	,[2011] AS 'ACCESS PL 2011-2012'
	,[2012] AS 'ACCESS PL 2012-2013'
	,[2013] AS 'ACCESS PL 2013-2014'
	,[2014] AS 'ACCESS PL 2014-2015'
FROM
(
SELECT
       CAST (SIS_NUMBER AS INT) AS STUDENT_ID
	   --,SCORE_DESCRIPTION
	   ,CASE WHEN DATENAME(month, admin_date) IN ('AUGUST','SEPTEMBER','OCTOBER','NOVEMBER','DECEMBER') THEN CAST(LEFT(CONVERT(VARCHAR ,ADMIN_DATE,121),4) AS INT) ELSE CAST(LEFT(CONVERT(VARCHAR ,ADMIN_DATE,121),4) AS INT)-1 END  AS SY
       ,SCORES.TEST_SCORE
	   ,TEST_NAME
	   --,PERFORMANCE_LEVEL
FROM
       rev.EPC_STU_TEST AS StudentTest

       JOIN
       rev.EPC_TEST_PART AS PART
       ON StudentTest.TEST_GU = PART.TEST_GU

       JOIN
       rev.EPC_STU_TEST_PART AS STU_PART
       ON PART.TEST_PART_GU = STU_PART.TEST_PART_GU
       AND STU_PART.STUDENT_TEST_GU = StudentTest.STUDENT_TEST_GU

    INNER JOIN
    rev.EPC_STU_TEST_PART_SCORE AS SCORES
    ON
    SCORES.STU_TEST_PART_GU = STU_PART.STU_TEST_PART_GU

    LEFT JOIN
    rev.EPC_TEST_SCORE_TYPE AS SCORET
    ON
    SCORET.TEST_GU = StudentTest.TEST_GU
    AND SCORES.TEST_SCORE_TYPE_GU = SCORET.TEST_SCORE_TYPE_GU

    LEFT JOIN
    rev.EPC_TEST_DEF_SCORE AS SCORETDEF
    ON
    SCORETDEF.TEST_DEF_SCORE_GU = SCORET.TEST_DEF_SCORE_GU

       LEFT JOIN
       rev.EPC_TEST AS TEST
       ON TEST.TEST_GU = StudentTest.TEST_GU

       INNER JOIN
       rev.EPC_STU AS Student
       ON Student.STUDENT_GU = StudentTest.STUDENT_GU

       INNER JOIN
       rev.REV_PERSON AS Person
       ON Person.PERSON_GU = StudentTest.STUDENT_GU
WHERE
1 = 1
AND TEST_NAME = 'ACCESS'
AND SCORE_DESCRIPTION = 'Overall LP'
)AS LAS_LINKS

PIVOT
	(MAX([TEST_SCORE]) FOR SY IN ([2009],[2010],[2011],[2012],[2013],[2014])) AS UP1
)

,IA_MATH_SCORE AS
(

SELECT
	SIS_NUMBER
	,[2011]
	,[2012]
	,[2013]
	,[2014]
	,[2015]
	,[2016]
FROM
(
SELECT 
	STUDENT_ID AS SIS_NUMBER
    ,TEST_SCORE_VALUE AS SCORE
	,CASE WHEN TEST_ADMIN_PERIOD = 'SPRING' AND SIS_SCHOOL_YEAR = '2013' THEN '2013'
	      WHEN SIS_SCHOOL_YEAR = '2014' AND TEST_ADMIN_PERIOD = 'WINTER' THEN '2014'
		  ELSE SIS_SCHOOL_YEAR
    END AS SIS_SCHOOL_YEAR
FROM [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.FTBL_TEST_SCORES
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_TESTS
ON DTBL_TESTS.TESTS_KEY = FTBL_TEST_SCORES.TESTS_KEY 
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_STUDENTS 
ON DTBL_STUDENTS.STUDENT_KEY = FTBL_TEST_SCORES.STUDENT_KEY 
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_SCHOOLS
ON DTBL_SCHOOLS.SCHOOL_KEY = FTBL_TEST_SCORES.SCHOOL_KEY
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_CALENDAR_DATES
ON DTBL_CALENDAR_DATES.CALENDAR_DATE_KEY= FTBL_TEST_SCORES.CALENDAR_DATE_KEY
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_SCHOOL_DATES
ON DTBL_SCHOOL_DATES.SCHOOL_DATES_KEY = FTBL_TEST_SCORES.SCHOOL_DATES_KEY 
WHERE 
1 = 1
AND(TEST_PRODUCT IN ('Interim Assessment') OR TEST_PRODUCT LIKE '%DBA%')
AND FTBL_TEST_SCORES.TEST_SCORE_VALUE IS NOT NULL
AND TEST_SUBGROUP IN ('ENGLISH LANGUAGE ARTS - ISS-T','MATHEMATICS - ISS-T')
AND (TEST_GROUP = 'Mathematics')
) AS IAT
PIVOT
	(MAX ([SCORE]) FOR SIS_SCHOOL_YEAR iN ([2011],[2012],[2013],[2014],[2015],[2016])
) UP1
)

,IA_MATH_PL AS
(

SELECT
	SIS_NUMBER
	,[2011]
	,[2012]
	,[2013]
	,[2014]
	,[2015]
	,[2016]
FROM
(
SELECT 
	STUDENT_ID AS SIS_NUMBER
    ,TEST_PRIMARY_RESULT AS PL
	,CASE WHEN TEST_ADMIN_PERIOD = 'SPRING' AND SIS_SCHOOL_YEAR = '2013' THEN '2013'
	      WHEN SIS_SCHOOL_YEAR = '2014' AND TEST_ADMIN_PERIOD = 'WINTER' THEN '2014'
		  ELSE SIS_SCHOOL_YEAR
    END AS SIS_SCHOOL_YEAR
FROM [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.FTBL_TEST_SCORES
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_TESTS
ON DTBL_TESTS.TESTS_KEY = FTBL_TEST_SCORES.TESTS_KEY 
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_STUDENTS 
ON DTBL_STUDENTS.STUDENT_KEY = FTBL_TEST_SCORES.STUDENT_KEY 
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_SCHOOLS
ON DTBL_SCHOOLS.SCHOOL_KEY = FTBL_TEST_SCORES.SCHOOL_KEY
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_CALENDAR_DATES
ON DTBL_CALENDAR_DATES.CALENDAR_DATE_KEY= FTBL_TEST_SCORES.CALENDAR_DATE_KEY
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_SCHOOL_DATES
ON DTBL_SCHOOL_DATES.SCHOOL_DATES_KEY = FTBL_TEST_SCORES.SCHOOL_DATES_KEY 
WHERE 
1 = 1
AND(TEST_PRODUCT IN ('Interim Assessment') OR TEST_PRODUCT LIKE '%DBA%')
AND FTBL_TEST_SCORES.TEST_SCORE_VALUE IS NOT NULL
AND TEST_SUBGROUP IN ('ENGLISH LANGUAGE ARTS - ISS-T','MATHEMATICS - ISS-T')
AND (TEST_GROUP = 'Mathematics')
) AS IAT
PIVOT
	(MAX ([PL]) FOR SIS_SCHOOL_YEAR iN ([2011],[2012],[2013],[2014],[2015],[2016])
) UP1
)

, IA_ELA_PL AS

(
SELECT
	SIS_NUMBER
	,[2011]
	,[2012]
	,[2013]
	,[2014]
	,[2015]
	,[2016]
FROM
(
SELECT 
	STUDENT_ID AS SIS_NUMBER
    ,TEST_PRIMARY_RESULT AS PL
	,CASE WHEN TEST_ADMIN_PERIOD = 'SPRING' AND SIS_SCHOOL_YEAR = '2013' THEN '2013'
	      WHEN SIS_SCHOOL_YEAR = '2014' AND TEST_ADMIN_PERIOD = 'WINTER' THEN '2014'
		  ELSE SIS_SCHOOL_YEAR
    END AS SIS_SCHOOL_YEAR
FROM [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.FTBL_TEST_SCORES
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_TESTS
ON DTBL_TESTS.TESTS_KEY = FTBL_TEST_SCORES.TESTS_KEY 
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_STUDENTS 
ON DTBL_STUDENTS.STUDENT_KEY = FTBL_TEST_SCORES.STUDENT_KEY 
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_SCHOOLS
ON DTBL_SCHOOLS.SCHOOL_KEY = FTBL_TEST_SCORES.SCHOOL_KEY
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_CALENDAR_DATES
ON DTBL_CALENDAR_DATES.CALENDAR_DATE_KEY= FTBL_TEST_SCORES.CALENDAR_DATE_KEY
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_SCHOOL_DATES
ON DTBL_SCHOOL_DATES.SCHOOL_DATES_KEY = FTBL_TEST_SCORES.SCHOOL_DATES_KEY 
WHERE 
1 = 1
AND(TEST_PRODUCT IN ('Interim Assessment') OR TEST_PRODUCT LIKE '%DBA%')
AND FTBL_TEST_SCORES.TEST_SCORE_VALUE IS NOT NULL
AND TEST_SUBGROUP IN ('ENGLISH LANGUAGE ARTS - ISS-T','MATHEMATICS - ISS-T')
AND (TEST_GROUP = 'ELA')
) AS IAT
PIVOT
	(MAX ([PL]) FOR SIS_SCHOOL_YEAR iN ([2011],[2012],[2013],[2014],[2015],[2016])
) UP1
)

, IA_ELA_SCORE AS
(
SELECT
	SIS_NUMBER
	,[2011]
	,[2012]
	,[2013]
	,[2014]
	,[2015]
	,[2016]
FROM
(
SELECT 
	STUDENT_ID AS SIS_NUMBER
    ,TEST_SCORE_VALUE AS SCORE
	,CASE WHEN TEST_ADMIN_PERIOD = 'SPRING' AND SIS_SCHOOL_YEAR = '2013' THEN '2013'
	      WHEN SIS_SCHOOL_YEAR = '2014' AND TEST_ADMIN_PERIOD = 'WINTER' THEN '2014'
		  ELSE SIS_SCHOOL_YEAR
    END AS SIS_SCHOOL_YEAR
FROM [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.FTBL_TEST_SCORES
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_TESTS
ON DTBL_TESTS.TESTS_KEY = FTBL_TEST_SCORES.TESTS_KEY 
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_STUDENTS 
ON DTBL_STUDENTS.STUDENT_KEY = FTBL_TEST_SCORES.STUDENT_KEY 
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_SCHOOLS
ON DTBL_SCHOOLS.SCHOOL_KEY = FTBL_TEST_SCORES.SCHOOL_KEY
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_CALENDAR_DATES
ON DTBL_CALENDAR_DATES.CALENDAR_DATE_KEY= FTBL_TEST_SCORES.CALENDAR_DATE_KEY
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_SCHOOL_DATES
ON DTBL_SCHOOL_DATES.SCHOOL_DATES_KEY = FTBL_TEST_SCORES.SCHOOL_DATES_KEY 
WHERE 
1 = 1
AND(TEST_PRODUCT IN ('Interim Assessment') OR TEST_PRODUCT LIKE '%DBA%')
AND FTBL_TEST_SCORES.TEST_SCORE_VALUE IS NOT NULL
AND TEST_SUBGROUP IN ('ENGLISH LANGUAGE ARTS - ISS-T','MATHEMATICS - ISS-T')
AND (TEST_GROUP = 'ELA')
) AS IAT
PIVOT
	(MAX ([SCORE]) FOR SIS_SCHOOL_YEAR iN ([2011],[2012],[2013],[2014],[2015],[2016])
) UP1
)

, DBA_READ AS
(
SELECT
	*
FROM
(
SELECT 
    STUDENT_ID AS SIS_NUMBER
    ,TEST_PRIMARY_RESULT AS PERFORMANCE_LEVEL
	,SIS_SCHOOL_YEAR
FROM [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.FTBL_TEST_SCORES
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_TESTS
ON DTBL_TESTS.TESTS_KEY = FTBL_TEST_SCORES.TESTS_KEY 
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_STUDENTS 
ON DTBL_STUDENTS.STUDENT_KEY = FTBL_TEST_SCORES.STUDENT_KEY 
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_SCHOOLS
ON DTBL_SCHOOLS.SCHOOL_KEY = FTBL_TEST_SCORES.SCHOOL_KEY
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_CALENDAR_DATES
ON DTBL_CALENDAR_DATES.CALENDAR_DATE_KEY= FTBL_TEST_SCORES.CALENDAR_DATE_KEY
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_SCHOOL_DATES
ON DTBL_SCHOOL_DATES.SCHOOL_DATES_KEY = FTBL_TEST_SCORES.SCHOOL_DATES_KEY 
WHERE 1 = 1
AND (TEST_PRODUCT LIKE '%DBA%')
AND TEST_GROUP = 'READ'
) AS DIB
PIVOT
	(MAX ([PERFORMANCE_LEVEL]) FOR SIS_SCHOOL_YEAR IN ([2009],[2010],[2011],[2012])) UP1
)

, DBA_MATH AS
(
SELECT
	*
FROM
(
SELECT 
    STUDENT_ID AS SIS_NUMBER
    ,TEST_PRIMARY_RESULT AS PERFORMANCE_LEVEL
	,SIS_SCHOOL_YEAR
FROM [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.FTBL_TEST_SCORES
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_TESTS
ON DTBL_TESTS.TESTS_KEY = FTBL_TEST_SCORES.TESTS_KEY 
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_STUDENTS 
ON DTBL_STUDENTS.STUDENT_KEY = FTBL_TEST_SCORES.STUDENT_KEY 
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_SCHOOLS
ON DTBL_SCHOOLS.SCHOOL_KEY = FTBL_TEST_SCORES.SCHOOL_KEY
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_CALENDAR_DATES
ON DTBL_CALENDAR_DATES.CALENDAR_DATE_KEY= FTBL_TEST_SCORES.CALENDAR_DATE_KEY
INNER JOIN [VERSIFIT.APS.EDU.ACTD].K12INTEL.K12INTEL_DW.DTBL_SCHOOL_DATES
ON DTBL_SCHOOL_DATES.SCHOOL_DATES_KEY = FTBL_TEST_SCORES.SCHOOL_DATES_KEY 
WHERE 1 = 1
AND (TEST_PRODUCT LIKE '%DBA%')
AND TEST_GROUP = 'MATH'
) AS DIB
PIVOT
	(MAX ([PERFORMANCE_LEVEL]) FOR SIS_SCHOOL_YEAR IN ([2009],[2010],[2011],[2012])) UP1
)


SELECT 
	  [Match Flag]
      ,[Student Last Name]
      ,[Student First Name]
      ,[Current Grade as of Oct2016]
      ,[Horizon Current status]
      ,[Birth date]
      ,[Horizon DB Notes]
      ,[Updated 13October2016 DShaulis ( from physical audit of Horizon']
      ,[Release forms Scanned]
      ,[APS Note]
      ,HORIZ.[SIS_NUMBER]
      ,[LAST_NAME]
      ,[FIRST_NAME]
      ,[BIRTH_DATE]
      ,[SCHOOL_NAME]
      ,[SCHOOL_CODE]
      ,[GRADE]
      ,[ENTER_DATE]
      ,[LEAVE_DATE]
      ,[PhloteStatus]
      ,[HOME_LANGUAGE]
      ,[Member Days 2011-2012]
      ,[Attendance_2011-2012_Total_Exc_Unex]
      ,[Member Days 2012-2013]
      ,[Attendance_2012-2013_Total_Exc_Unex]
      ,[Member Days 2013-2014]
      ,[Attendance_2013-2014_Total_Exc_Unex]
      ,[Member Days 2014-2015]
      ,[Attendance_2014-2015_Total_Exc_Unex]
      ,[Member Days 2015-2016]
      ,[Attendance_2015-2016_Total_Exc_Unex]
	  ,SR2011.TEST_SCORE AS 'SBA_READING_2011_SCORE'
	  ,SR2011.PL AS 'SBA_READING_2011_PL'
	  ,SM2011.TEST_SCORE AS 'SBA_MATH_2011_SCORE'
	  ,SM2011.PL AS 'SBA_MATH_2011_PL'
	  ,SR2012.TEST_SCORE AS 'SBA_READING_2012_SCORE'
	  ,SM2012.PL AS 'SBA_MATH_2012_PL'
	  ,SR2013.TEST_SCORE AS 'SBA_READING_2013_SCORE'
	  ,SR2013.PL AS 'SBA_READING_2013_PL'
	  ,SM2013.TEST_SCORE AS 'SBA_MATH_2013_SCORE'
	  ,SM2013.PL AS 'SBA_MATH_2013_PL'
	  ,SR2014.TEST_SCORE AS 'SBA_READING_2014_SCORE'
	  ,SR2014.PL AS 'SBA_READING_2014_PL'
	  ,SM2014.TEST_SCORE AS 'SBA_MATH_2014_SCORE'
	  ,SM2014.PL AS 'SBA_MATH_2014_PL'
	  ,PE2014.TEST_SCORE AS 'PARCC_ELA_2014_SCORE'
	  ,PE2014.PL AS 'PARCC_ELA_2014_PL'
	  ,PM2014.TEST_SCORE AS 'PARCC_MATH_2014_SCORE'
	  ,PM2014.PL AS 'PARCC_MATH_2014_PL'
	  ,PE2015.TEST_SCORE AS 'PARCC_ELA_2015_SCORE'
	  ,PE2015.PL AS 'PARCC_ELA_2015_PL'
	  ,PM2015.TEST_SCORE AS 'PARCC_MATH_2015_SCORE'
	  ,PM2015.PL AS 'PARCC_MATH_2015_PL'
	  ,ACS.[ACCESS SCALE 2011-2012] AS 'ACCESS_2011_SCORE'
	  ,ACPL.[ACCESS PL 2011-2012] AS 'ACCESS_2011_PL'
	  ,ACS.[ACCESS SCALE 2012-2013] AS ACCESS_2012_SCORE
	  ,ACPL.[ACCESS PL 2012-2013] AS ACCESS_2012_PL
	  ,ACS.[ACCESS SCALE 2013-2014] AS ACCESS_2013_SCORE
	  ,ACPL.[ACCESS PL 2013-2014] AS ACCESS_2013_PL
	  ,ACS.[ACCESS SCALE 2014-2015] AS ACCESS_2014_SCORE
	  ,ACPL.[ACCESS PL 2014-2015] AS ACCESS_2014_PL
	  ,IAELAS.[2013] AS INTERIM_ASSESSMENT_ELA_2013_SCORE
	  ,IAELAPL.[2013] AS INTERIM_ASSESSMENT_ELA_2013_PL
	  ,IAMS.[2013] AS INTERIM_ASSESSMENT_MATH_2013_SCORE
	  ,IAMPL.[2013] AS INTERIM_ASSESSMENT_MATH_2013_PL
	  ,IAELAS.[2014] AS INTERIM_ASSESSMENT_ELA_2014_SCORE
	  ,IAELAPL.[2014] AS INTERIM_ASSESSMENT_ELA_2014_PL
	  ,IAMS.[2014] AS INTERIM_ASSESSMENT_MATH_2014_SCORE
	  ,IAMPL.[2014] AS INTERIM_ASSESSMENT_MATH_2014_PL
	  ,DBAR.[2009] AS DBA_READ_2009_PL
	  ,DBAM.[2009] AS DBA_MATH_2009_PL
	  ,DBAR.[2010] AS DBA_READ_2010_PL
	  ,DBAM.[2010] AS DBA_MATH_2010_PL
	  ,DBAR.[2011] AS DBA_READ_2011_PL
	  ,DBAM.[2011] AS DBA_MATH_2012_PL
	  ,DBAR.[2012] AS DBA_READ_2012_PL
	  ,DBAM.[2012] AS DBA_MATH_2012_PL

  FROM [ST_Production].[APS].[Horizons_Student_Data_Appended] HORIZ

  LEFT JOIN
  PARCC_MATH_2014 AS PM2014
  ON PM2014.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  PARCC_MATH_2015 AS PM2015
  ON PM2015.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN 
  PARCC_ELA_2015 AS PE2015
  ON PE2015.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  PARCC_ELA_2014 AS PE2014
  ON PE2014.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  SBA_READING_2011 AS SR2011
  ON SR2011.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  SBA_MATH_2011 AS SM2011
  ON SM2011.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  SBA_READING_2012 AS SR2012
  ON SR2012.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  SBA_MATH_2012 AS SM2012
  ON SM2012.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  SBA_READING_2013 AS SR2013
  ON SR2013.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  SBA_MATH_2013 AS SM2013
  ON SM2013.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  SBA_READING_2014 AS SR2014
  ON SR2014.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  SBA_MATH_2014 AS SM2014
  ON SM2014.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  ACCESS_SCALE AS ACS
  ON ACS.STUDENT_ID = HORIZ.SIS_NUMBER

  LEFT JOIN
  ACCESS_PL AS ACPL
  ON ACPL.STUDENT_ID = HORIZ.SIS_NUMBER

  LEFT JOIN
  IA_MATH_SCORE AS IAMS
  ON IAMS.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  IA_MATH_PL AS IAMPL
  ON IAMPL.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  IA_ELA_SCORE AS IAELAS
  ON IAELAS.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  IA_ELA_PL AS IAELAPL
  ON IAELAPL.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN
  DBA_READ AS DBAR
  ON DBAR.SIS_NUMBER = HORIZ.SIS_NUMBER

  LEFT JOIN 
  DBA_MATH AS DBAM
  ON DBAM.SIS_NUMBER = HORIZ.SIS_NUMBER

  --WHERE HORIZ.SIS_NUMBER = '970028142'