/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT TOP 1000 [PERSON_GU]
--      ,[PHOTO]
--      ,[CHANGE_DATE_TIME]
--  FROM [ST_Train_90].[rev].[REV_PERSON_PHOTO]


--BEGIN TRAN

--select enr.STUDENT_GU, enr.ORGANIZATION_YEAR_GU, enr.STUDENT_SCHOOL_YEAR_GU,
--       oyr.ORGANIZATION_YEAR_GU, org.ORGANIZATION_NAME, pho.PERSON_GU, pho.PHOTO



----DELETE
-- from aps.EnrollmentsAsOf (getdate()) enr
--join rev.REV_ORGANIZATION_YEAR oyr
--on enr.ORGANIZATION_YEAR_GU = oyr.ORGANIZATION_YEAR_GU
--join rev.REV_ORGANIZATION org
--on org.ORGANIZATION_GU = oyr.ORGANIZATION_GU

--join
--rev.REV_PERSON_PHOTO pho
--on pho.PERSON_GU = enr.STUDENT_GU

--where 1 = 1
--and ORGANIZATION_NAME = 'Rio Grande High School'

--ROLLBACK

BEGIN TRAN

--SELECT
--	PHO.PERSON_GU
--	,T1.STUDENT_GU
--	,T1.ORGANIZATION_NAME
--	,PHO.PHOTO

DELETE PHO

FROM
	REV.REV_PERSON_PHOTO PHO

WHERE EXISTS
	(
	SELECT
		ENR.STUDENT_GU
		,ORG.ORGANIZATION_NAME
	FROM
		APS.EnrollmentsAsOf (GETDATE()) ENR

JOIN
	REV.REV_ORGANIZATION_YEAR OYR
	ON OYR.ORGANIZATION_YEAR_GU = ENR.ORGANIZATION_YEAR_GU
JOIN
	REV.REV_ORGANIZATION ORG
	ON ORG.ORGANIZATION_GU = OYR.ORGANIZATION_GU

WHERE
	1 = 1
	AND ORG.ORGANIZATION_NAME = 'Rio Grande High School'
	AND ENR.STUDENT_GU = PHO.PERSON_GU
) 

ROLLBACK