/*
*CREATED BY: DEBBIE ANN CHAVEZ
*DATE: 7/10/2014
*
*READ STATE LICENSURE FILE - @ 47k RECORDS
* READS LAWSON FOR GENERIC CONVERSION TOOL TO LOAD INTO SYNERGY
*ONLY FOR APS ACTIVE STAFF - @ 27K RECORDS ( 1 RECORD FOR EACH CREDENTIAL)
*/



SELECT 
	'e' + RIGHT('000000'+ CONVERT (VARCHAR (6), CAST(EMPLOYEE.EMPLOYEE AS VARCHAR)), 6) AS BADGE_NUMBER
	,LICENSURE.Certification_Type_Code AS CRED_TYPE
	,LICENSURE.Certification_Area_Code AS AUT_TEACH_AREA
	--MUST BE IN YYYMMDD FORMAT
	,REPLACE(LICENSURE.Certification_Effective_Date,'-','') AS DATE_EARNED
	--IS THIS THE LICENSE NUMBER??
	,LICENSURE.Certificate_Number AS DOC_NUMBER
	
	--FOR DEBUGGING ONLY
	--,LICENSURE.Staff_ID

  FROM 
	[HELPER].[dbo].[Licensure] AS LICENSURE

	--HAVE TO READ EMPLOYEES AND NEW HIRES TO GET AN EMPLOYEE NUMBER USING THE SSN FROM THE STATE FILE
	INNER JOIN
	APS.AllEmployeesAndNewHires AS EMPLOYEE
	ON
	CAST(REPLACE(EMPLOYEE.FICA_NBR,'-', '')AS INT) = LICENSURE.Staff_ID

	--NEED ONLY EMPLOYEES THAT HAVE AN ACTIVE OPEN ASSIGNMENT, 1 RECORD
	INNER JOIN
	APS.ActiveEmployeeMostRecentAssignment AS MOSTRECENTASSIGNMENT
	ON
	MOSTRECENTASSIGNMENT.EMPLOYEE = EMPLOYEE.EMPLOYEE

	ORDER BY BADGE_NUMBER